.promotion-wrapper {
    margin: 0 20px;

    .promotion {
        margin-bottom: 20px;

        .input-group {
            width: 100%;

            .form-control {
                width: 100%;
            }
        }

        .promotion-descriptions {
            margin-top: 10px;
            min-width: 200px;

            a.link-big {

                i {
                    font-size: 19px;
                }
            }
        }

        .promotion-image {
            margin-top: 10px;

            .small-images {
                display: inline-block;
                vertical-align: top;

                a {
                    position: relative;
                    background-size: cover !important;
                    background-repeat: no-repeat !important;
                    background-position: center !important;
                    padding-top: 50%;
                    text-align: center;
                    display: block;
                    width: 200px;
                    margin: 3px;

                    .cross-close {
                        position: absolute;
                        right: 0;
                        top: 0;
                        padding: 0px 7px;
                        cursor: pointer;
                        color: white;
                        background-color: rgba(0, 0, 0, 0.7);
                        opacity: 0;
                    }
                }

                a:hover .cross-close {
                    opacity: 1;
                }
            }

            .upload-mage {

                input {
                    display: none;
                }
            }
        }

        .content-fields {

            .promotion-description {
                height: 100px;
            }
        }

        .actions {
            margin: 15px 0;

            button {
                width: 180px;
                margin: 10px;
            }
        }
    }
}


@media (min-width: 850px) {
    .promotion {
        
    }
}

@media (max-width: 850px) {
    .promotion {
        
    }
}

@media (min-width: 600px) {
    .promotion {

    }
}

@media (max-width: 600px) {
    .promotion {
        


    }
}
