table {
    word-break: break-word;

    .phone, .mark-as-processed, .tourButton {
        min-width: 140px;
    }

    .orderId {
        min-width: 80px;
    }

    .name, .createdDateTime, .delete {
        min-width: 100px;
    }

    .description, .link {
        max-width: 320px;
        min-width: 140px;
    }

    a.link-big {

        i {
            font-size: 19px;
        }
    }
}
