<div class="banner"
     [style.background]="'url(/Content/Images/TourTypes/banner.jpg)'">
</div>
<div class="width-wrapper">
    <div class="tour-types-page">
        <div class="text-wrapper">
            <h1 class="center">
                Поиск и подбор туров из Минска, Москвы и Киева
            </h1>
            <div class="font-OpenSans-Semibold top-text">
                <p>Простая и понятная система подбора туров «Travel X» позволит Вам легко найти актуальное   предложение по отдыху с вылетом из Минска, Москвы, Киева и других городов.</p>
                <p>Забронировать понравившуюся путевку необыкновенно легко!</p>
                <p>Выбираете направление <img src="/Content/Images/TourTypes/arrow.png" /><img src="/Content/Images/TourTypes/arrow.png" /> просматриваете подборку предложений <img src="/Content/Images/TourTypes/arrow.png" /><img src="/Content/Images/TourTypes/arrow.png" /> отправляете заявку на тур. Специалист свяжется c Вами и предоставит компетентную помощь в организации путешествия.</p> 
            </div>
            <div class="tour-types-wrapper">
                <h2 class="center">Все виды туров из Минска Вы найдете здесь!</h2>
                <div class="font-OpenSans-Semibold center">
                    Выбирайте нужное Вам направление отдыха и смотрите предложения.
                </div>
                <tourTypesTileComponent></tourTypesTileComponent>
            </div>
            <div class="font-OpenSans-Semibold center">
                <p>Некогда просматривать варианты?</p>
                <p>Нужна квалифицированная помощь в подборе тура?</p>
            </div>
            <div class="put-order">
                <h4>Оставляйте запрос, и специалисты «Travel X» перезвонят Вам для детального обсуждения Ваших пожеланий к отдыху.</h4>
                <div class="font-PFDinDisplayPro-Light">
                    <button type="button" (click)="openOrderPopup('ПОЗВОНИТЕ МНЕ!')" class="order-btn">
                        ПОЗВОНИТЕ МНЕ!
                    </button>
                </div>
            </div>
            <div class="tour-categories row">
                <img class="hidden-xs col-sm-6" src="/Content/Images/TourTypes/categories.jpg" />
                <div class="col-xs-12 col-sm-6">
                    <h2>Категории отдыха:</h2>
                    <div class="separator"></div>
                    <div class="category">
                        <span class="tour-category-header">
                            Семейный:
                        </span>
                        Устройте каникулы себе и своим деткам! Душевно отдохните в кругу семьи.
                    </div>
                    <div class="category">
                        <span class="tour-category-header">
                            Молодежный:
                        </span>
                        Проведите отпуск в компании друзей под девизом «Forever young». Оторвитесь по полной!
                    </div>
                    <div class="category">
                        <span class="tour-category-header">
                            Медовый месяц:
                        </span>
                        Заставьте весь остальной мир подождать. Отправьтесь в романтическое путешествие в самые эффектные места нашей планеты.
                    </div>
                    <div class="category">
                        <span class="tour-category-header">
                            Экзотический:
                        </span>
                        Закажите тур на частный остров в Индийском океане либо отправьтесь на африканское сафари. Ощутите вкус экзотики!
                    </div>
                    <div class="category">
                        <span class="tour-category-header">
                            Отдых класса Люкс:
                        </span>
                        Почувствуйте себя VIP-персоной на лакшери-курортах с индивидуальным обслуживанием. Позвольте себе любой каприз!
                    </div>
                    <div class="category">
                        <span class="tour-category-header">
                            All-Inclusive:
                        </span>
                        Насладитесь преимуществами системы «Все включено». Оставьте кошелек и лишние хлопоты дома!
                    </div>
                    <div class="category">
                        <span class="tour-category-header">
                            Туры выходного дня:
                        </span>
                        Покиньте родной город на весь week-end и найдите приключения в другой стране!
                    </div>
                    <div class="category">
                        <span class="tour-category-header">
                            Круизы:
                        </span>
                        Порадуйте себя каникулами на круизном лайнере либо уютной прогулкой на пароме. Создайте свой идеальный сценарий!
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>