<div class="width-wrapper">
    <div class="countries-page">
        <div class="banner">
            <img src="/Content/Images/Countries/banner.jpg" />
        </div>
        <div class="text-wrapper">
            <h1 class="center">Популярные страны для отдыха</h1>
            <div class="countries-short font-OpenSans-Semibold">
                <div class="country-short" *ngFor="let country of countryCollection">
                    <img class="arrow" src="/Content/Images/Countries/orange-arr.png" />
                    <a [routerLink]="[ '/tour/' + country.category + '/' + country.urlName ]"
                       class="country-name-link">
                        <span [innerHtml]="country.name"></span>
                    </a>
                </div>
            </div>
            <div class="put-order center">
                <div>
                    <h4>Вы уже знаете, что конкретно хотите? Или наоборот, не нашли в списке нужной Вам страны?</h4>
                </div>
                <div>
                    <h4>Просто подмигните нашему специалисту, и он будет знать, что Вам нужна профессиональная помощь.</h4>
                </div>
                <div class="font-PFDinDisplayPro-Light">
                    <button type="button" (click)="openOrderPopup('ПОДМИГНУТЬ')" class="order-btn">
                        ПОДМИГНУТЬ
                    </button>
                </div>
            </div>

            <h2 class="center">Цены на отдых 2019</h2>
            <div class="counties-wrapper">
                <div class="country" *ngFor="let country of countryCollection">
                    <div class="image-description">
                        <div class="country-image">
                            <a [routerLink]="[ '/tour/' + country.category + '/' + country.urlName ]"
                               class="image"
                               [style.background]="'url(/api/image/' + country.oldImageCollection[0] + ')'">
                            </a>
                        </div>
                        <div class="country-descriptions">
                            <a [routerLink]="[ '/tour/' + country.category + '/' + country.urlName ]"
                               class="country-name-link">
                                <span [innerHtml]="country.name"></span>
                            </a>
                            <div class="description font-OpenSans-Regular" [innerHtml]="country.description"></div>
                        </div>
                    </div>
                    <div class="country-prices">
                        <h4>Отели:</h4>
                        <div class="hotels">
                            <div class="stars">
                                <ul>
                                    <li>
                                        <img src="/Content/Images/star.png" />
                                        <img src="/Content/Images/star.png" />
                                        <img src="/Content/Images/star.png" />
                                        <img src="/Content/Images/star.png" />
                                        <img src="/Content/Images/star.png" />
                                    </li>
                                    <li>
                                        <img src="/Content/Images/star.png" />
                                        <img src="/Content/Images/star.png" />
                                        <img src="/Content/Images/star.png" />
                                        <img src="/Content/Images/star.png" />
                                    </li>
                                    <li>
                                        <img src="/Content/Images/star.png" />
                                        <img src="/Content/Images/star.png" />
                                        <img src="/Content/Images/star.png" />
                                    </li>
                                </ul>
                            </div>
                            <div class="price font-OpenSans-Semibold">
                                <ul>
                                    <li>от <span [innerHtml]="country.fiveStarsPrice"></span> BYN</li>
                                    <li>от <span [innerHtml]="country.fourStarsPrice"></span> BYN</li>
                                    <li>от <span [innerHtml]="country.threeStarsPrice"></span> BYN</li>
                                </ul>
                            </div>
                        </div>
                        <a [routerLink]="[ '/tour/' + country.category + '/' + country.urlName ]"
                           class="country-btn">СМОТРЕТЬ</a>
                    </div>
                </div>
            </div>
            <div class="categories">
                <h2 class="center">В каталоге предложений «Travel X» Вы найдете:</h2>
                <div class="categories-wrapper font-OpenSans-Semibold">
                    <div class="category">
                        <a (click)="openOrderPopup('горящие путевки на море')">горящие путевки на море<img src="/Content/Images/Countries/blue-arr-big.png" /></a>
                    </div>
                    <div class="category">
                        <a (click)="openOrderPopup('экскурсионные маршруты по Европе')">экскурсионные маршруты по Европе<img src="/Content/Images/Countries/blue-arr-big.png" /></a>
                    </div>
                    <div class="category">
                        <a (click)="openOrderPopup('идеи для свадебных туров')">идеи для свадебных туров<img src="/Content/Images/Countries/blue-arr-big.png" /></a>
                    </div>
                    <div class="category">
                        <a [routerLink]="[ '/tour/beach' ]">экзотические направления<img src="/Content/Images/Countries/blue-arr-big.png" /></a>
                    </div>
                    <div class="category">
                        <a [routerLink]="[ '/tour/corporate' ]">корпоративные поездки<img src="/Content/Images/Countries/blue-arr-big.png" /></a>
                    </div>
                    <div class="category">
                        <a [routerLink]="[ '/tour/individual' ]">путешествия по индивидуальному сценарию<img src="/Content/Images/Countries/blue-arr-big.png" /></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

