.login-wrapper {
    margin: 0 20px;

    .login {
        margin-bottom: 20px;

        .login-fields {
            width: 340px;

            .input-group {
                width: 100%;

                .form-control {
                    width: 100%;
                }
            }
        }

        .actions {
            margin: 15px 0;

            button {
                width: 180px;
                margin: 10px 20px 10px 0;
            }
        }
    }
}


@media (min-width: 850px) {
    .login {
        
    }
}

@media (max-width: 850px) {
    .login {
        
    }
}

@media (min-width: 600px) {
    .login {

    }
}

@media (max-width: 600px) {
    .login {
        


    }
}
