.carousel {
    .carousel-indicators {

        li {
            width: 15px;
            height: 15px;
            margin: 5px;
            border: 2px solid #FEB849;
        }

        li.active {
            background-color: #FEB849;
            border: 2px solid white;
        }
    }
}