.content .scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px; }
  .content .scroll-to-top img {
    width: 40px;
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.35); }

.content .side-fixed-menu.sticky {
  position: fixed;
  top: 50px;
  z-index: 1; }

.content .side-fixed-menu {
  position: fixed;
  top: 150px;
  left: 10px; }
  @media (max-width: 600px) {
    .content .side-fixed-menu {
      display: none; } }
  .content .side-fixed-menu a {
    padding: 15px;
    display: block;
    transition: 0.15s all ease; }
    .content .side-fixed-menu a img {
      width: 45px;
      transition: 0.15s all ease; }
  .content .side-fixed-menu a:hover {
    padding: 10px; }
  .content .side-fixed-menu a:hover > img {
    width: 55px; }
  .content .side-fixed-menu a.hot-link {
    background-color: #FC3B3C;
    box-shadow: 0 0 7px rgba(252, 59, 60, 0.35); }
  .content .side-fixed-menu a.early-link {
    background-color: #FFB650;
    box-shadow: 0 0 7px rgba(255, 182, 80, 0.35); }
  .content .side-fixed-menu a.bus-link {
    background-color: #071180;
    box-shadow: 0 0 7px rgba(7, 17, 128, 0.35); }
  .content .side-fixed-menu a.new-year-link {
    background-color: #138D90;
    box-shadow: 0 0 7px rgba(19, 141, 144, 0.35); }
