<div class="width-wrapper">
    <div class="text-wrapper tour-text"
         [innerHtml]="country.pageContent">
    </div>
    <div class="tours-wrapper">
        <div class="tour"
             *ngFor="let tour of tourCollection">
            <div class="image-description">
                <div class="tour-image">
                    <div class="image open-image-popup"
                         (click)="openImagesPopup(tour.oldImageCollection)"
                         [style.background]="'url(/api/image/' + tour.oldImageCollection[0] + ')'">
                    </div>
                </div>
                <div class="tour-descriptions">
                    <div class="stars">
                        <span *ngFor="let i of starsArray(tour.stars).fill('star')" class="s"></span>
                    </div>
                    <a [routerLink]="[ '/tour/' + tour.category + '/' + tour.country +'/' + tour.urlName ]"
                       class="link-big">
                        <span [innerHtml]="tour.name"></span>
                    </a>
                    <div [innerHtml]="tour.city"></div>
                    <div [innerHtml]="tour.description"></div>
                </div>
            </div>
            <div class="tour-prices">
                <div>
                    <div>от <strong [innerHtml]="tour.price"></strong>р.</div>
                    <div>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <span>от <span [innerHtml]="tour.nights"></span> ночей</span>
                    </div>
                    <div *ngIf="tour.isFlightIncluded">
                        <i class="fa fa-plane" aria-hidden="true"></i>
                        <span>перелет включен</span>
                    </div>
                </div>
                <a (click)="openOrderPopup()" 
                   class="btn btn-info">Подробнее</a>
            </div>
        </div>
    </div>
</div>
