.contacts-page {
  overflow: hidden;
  margin: 20px auto;
  font-size: 18px;
  max-width: 1000px; }
  .contacts-page h1 {
    margin: 15px 0; }
  .contacts-page h4 {
    color: #118b91;
    font-family: 'OpenSans-Semibold', sans-serif;
    margin-bottom: 5px; }
  .contacts-page .separator {
    margin: 20px auto; }
  .contacts-page .contacts-top .contact-top-image {
    margin-bottom: 20px; }
  .contacts-page .contacts-top .communicate .communicate-item {
    margin-bottom: 20px; }
  .contacts-page .contacts-top .communicate .phone-code {
    font-size: 14px;
    font-family: OpenSans-Regular, sans-serif; }
  .contacts-page .contacts-top .communicate .social {
    margin-right: 5px;
    width: 30px; }
  .contacts-page .contacts-bottom h4 {
    margin-bottom: 20px; }
  .contacts-page .contacts-bottom .location-info {
    margin-bottom: 20px;
    min-width: 235px; }
    .contacts-page .contacts-bottom .location-info .headline {
      margin-bottom: 5px; }
    .contacts-page .contacts-bottom .location-info .address img {
      width: 20px; }

@media (min-width: 750px) {
  .contacts-bottom {
    display: flex;
    justify-content: flex-start; }
  .contacts-top {
    display: flex;
    justify-content: flex-start; }
    .contacts-top .communicate {
      margin-left: 50px; } }

@media (max-width: 750px) {
  .contacts-top {
    display: block; }
    .contacts-top .communicate {
      margin: 0; }
  .contacts-bottom {
    display: block; }
    .contacts-bottom .communicate {
      margin: 0; } }
