h1 {
  max-width: 630px;
  margin: 20px auto;
  text-align: center; }

.banner-carousel .banner {
  display: flex;
  align-items: center; }
  .banner-carousel .banner .banner-content {
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 10vh;
    padding: 50px; }
    .banner-carousel .banner .banner-content .banner-text {
      margin: 5px; }
    .banner-carousel .banner .banner-content .white-button {
      border: 2px solid white;
      padding: 2px 10px;
      color: white;
      background: none; }
      .banner-carousel .banner .banner-content .white-button:hover {
        color: #37354E;
        background-color: white; }

.benefits-top .benefit-top {
  text-align: center; }
  .benefits-top .benefit-top img {
    width: 100px;
    height: 100px;
    margin-right: 20px; }
  .benefits-top .benefit-top h3 {
    line-height: 50px; }

.benefits-top .benefit-bottom {
  font-family: 'OpenSans-Semibold'; }

.put-order {
  text-align: center;
  margin: 30px 0; }
  .put-order h4 {
    margin-bottom: 10px; }
  .put-order .order-btn {
    background-color: white;
    color: #fc3b3c;
    border: 2px solid #fc3b3c;
    width: 250px;
    line-height: 35px;
    font-size: 20px; }
  .put-order .order-btn:hover {
    box-shadow: 0 0 7px rgba(253, 10, 10, 0.75);
    color: white;
    background-color: #fc3b3c; }

.benefits-bottom h2 {
  text-align: center;
  max-width: 600px;
  margin: 10px auto; }

.benefits-bottom .benefits-bottom-text {
  text-align: center; }

.benefits-bottom .benefits .benefit {
  margin: 20px 0; }
  .benefits-bottom .benefits .benefit .benifit-header {
    display: flex;
    margin: 5px; }
    .benefits-bottom .benefits .benefit .benifit-header img {
      width: 60px;
      height: 24px;
      margin-right: 10px; }
    .benefits-bottom .benefits .benefit .benifit-header h3 {
      color: #118B91; }
  .benefits-bottom .benefits .benefit .benefit-text {
    font-size: 20px;
    font-family: OpenSans-Regular; }

.benefits-bottom .benefits .benefit.space {
  margin-left: 30px; }

.benefits-bottom .benefits .put-order-wrapper {
  background-color: #138D90;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px; }
  .benefits-bottom .benefits .put-order-wrapper .text {
    font-size: 28px; }
  .benefits-bottom .benefits .put-order-wrapper .order-btn {
    background-color: #fc3b3c;
    color: white;
    border: 1px solid white;
    width: 100px;
    line-height: 35px;
    font-size: 20px; }

@media (max-width: 770px) {
  .benefits-top .benefit-top {
    justify-content: center; }
  .benefits-top .benefit-bottom {
    text-align: center; } }

@media (max-width: 650px) {
  .banner-carousel .banner .banner-content {
    width: 100%; }
    .banner-carousel .banner .banner-content .banner-head {
      font-size: 24px; }
    .banner-carousel .banner .banner-content .banner-text {
      font-size: 16px; }
    .banner-carousel .banner .banner-content .white-button {
      font-size: 24px; } }

@media (min-width: 650px) {
  .banner-carousel .banner .banner-content {
    width: 70%; }
    .banner-carousel .banner .banner-content .banner-head {
      font-size: 32px; }
    .banner-carousel .banner .banner-content .banner-text {
      font-size: 24px; }
    .banner-carousel .banner .banner-content .white-button {
      font-size: 24px; } }
