h1 {
    max-width: 630px;
    margin: 20px auto;
    text-align: center;
}

.benefits-top {

    .benefit-top {
        text-align: center;

        img {
            width: 100px;
            height: 100px;
            margin-right: 20px;
        }

        h3 {
            line-height: 50px;
        }
    }

    .benefit-bottom {
        font-family: 'OpenSans-Semibold';
    }
}

.put-order {
    text-align: center;
    margin: 30px 0;

    h4 {
        margin-bottom: 10px;
    }

    .order-btn {
        background-color: white;
        color: #fc3b3c;
        border: 2px solid #fc3b3c;
        width: 250px;
        line-height: 35px;
        font-size: 20px;
    }

    .order-btn:hover {
        box-shadow: 0 0 7px rgba(253,10,10,0.75);
        color: white;
        background-color: #fc3b3c;
    }
}

.benefits-bottom {

    h2 {
        text-align: center;
        max-width: 600px;
        margin: 10px auto;
    }

    .benefits-bottom-text {
        text-align: center;
    }

    .benefits {

        .benefit {
            margin: 20px 0;

            .benifit-header {
                display: flex;
                margin: 5px;

                img {
                    width: 60px;
                    height: 24px;
                    margin-right: 10px;
                }

                h3 {
                    color: #118B91;
                }
            }

            .benefit-text {
                font-size: 20px;
                font-family: OpenSans-Regular;
            }
        }

        .benefit.space {
            margin-left: 30px;
        }

        .put-order-wrapper {
            background-color: #138D90;
            color: white;
            display: flex;
            justify-content: space-between;
            padding: 15px;

            .text {
                font-size: 28px;
            }

            .order-btn {
                background-color: #fc3b3c;
                color: white;
                border: 1px solid white;
                padding: 0 5px;
                height: 35px;
                font-size: 20px;
                margin: auto 0;
            }
        }
    }
}

@media (max-width: 770px) {
    .benefits-top {

        .benefit-top {
            justify-content: center;
        }

        .benefit-bottom {
            text-align: center;
        }
    }

    .benefits-bottom {

        .benefits {

            .put-order-wrapper {
                display: block;
                text-align: center;
            }
        }
    }
}
