.tours-page .banner img {
  width: 100%; }

.tours-page h1 {
  margin: 20px 0; }

.tours-page .tours-wrapper .tour {
  margin: 20px 0;
  border: 1px solid #F1F1F1;
  padding: 10px; }
  .tours-page .tours-wrapper .tour .image-description .tour-image .image {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    padding-top: 50%;
    text-align: center;
    display: block; }
  .tours-page .tours-wrapper .tour .image-description .tour-descriptions {
    margin-right: 40px;
    min-width: 200px; }
    .tours-page .tours-wrapper .tour .image-description .tour-descriptions .stars {
      display: flex;
      margin: 10px 0; }
      .tours-page .tours-wrapper .tour .image-description .tour-descriptions .stars img {
        width: 16px;
        height: 16px; }
    .tours-page .tours-wrapper .tour .image-description .tour-descriptions .tour-name-link {
      text-transform: uppercase;
      font-size: 24px;
      color: #0A155F;
      font-family: OpenSans-Semibold; }
    .tours-page .tours-wrapper .tour .image-description .tour-descriptions .tour-name-link:hover {
      color: #feb849; }
    .tours-page .tours-wrapper .tour .image-description .tour-descriptions .city {
      color: #6C6C6C;
      font-family: OpenSans-Semibold; }
    .tours-page .tours-wrapper .tour .image-description .tour-descriptions .tour-options {
      margin-top: 15px; }
      .tours-page .tours-wrapper .tour .image-description .tour-descriptions .tour-options .arrows-orange {
        height: 7px; }
  .tours-page .tours-wrapper .tour .tour-prices {
    margin-top: 15px;
    min-width: 220px; }
    .tours-page .tours-wrapper .tour .tour-prices .price {
      color: #6C6C6C;
      margin: 10px 0; }
      .tours-page .tours-wrapper .tour .tour-prices .price .value {
        color: #121212; }
    .tours-page .tours-wrapper .tour .tour-prices .order-btn {
      background-color: #311569;
      color: white;
      border: 2px solid #311569;
      line-height: 35px;
      font-size: 20px;
      padding: 6px 12px; }
    .tours-page .tours-wrapper .tour .tour-prices .order-btn:hover {
      color: #311569;
      background-color: white; }

.tours-page .tours-wrapper .tour:hover {
  margin-bottom: 20px;
  border: 1px solid #FFDFA2;
  box-shadow: 0 0 7px rgba(255, 223, 162, 0.75); }

@media (min-width: 1100px) {
  .tour {
    display: flex;
    justify-content: space-between; } }

@media (max-width: 1100px) {
  .tour {
    display: block; } }

@media (min-width: 870px) {
  .tour .image-description {
    display: flex; }
    .tour .image-description .tour-image {
      margin-right: 40px; }
      .tour .image-description .tour-image .image {
        width: 340px; } }

@media (max-width: 870px) {
  .tour {
    width: 100%;
    margin: 0 0 20px 0; }
    .tour .image-description {
      display: block; }
      .tour .image-description .tour-image {
        margin-top: 0; }
        .tour .image-description .tour-image .image {
          width: 100%; } }
