<div class="promotions-page">
    <h1 class="center">
        АКЦИИ и СПЕЦПРЕДЛОЖЕНИЯ
    </h1>
    <div class="promotions-wrapper">

        <div class="promotion" *ngFor="let promotion of promotionCollection">
            <a [routerLink]="[ promotion.urlName ]" class="promotion-link"
               [style.background]="'url(/api/image/' + promotion.oldImageCollection[0] + ')'">
                <div class="promotion-name">
                    <span [innerHtml]="promotion.name">
                    </span>
                </div>
            </a>
            <div class="promotion-descriptions">
                <a class="promotion-btn"
                   (click)="openOrderPopup()">Принять участие</a>
                <div class="until-date"> Действует до <span class="value">{{promotion.untilDate | date: 'dd-MM-yyyy'}}</span></div>
            </div>
        </div>

    </div>
</div>
