<div class="width-wrapper">
    <div class="text-wrapper promotion-text">
        АКЦИИ и СПЕЦПРЕДЛОЖЕНИЯ
    </div>
    <div class="promotions-wrapper">
        <div class="promotion" style="background-image:url(/Content/Images/promotions_test1.jpg)">
            <div class="promotion-name">
                <a [routerLink]="[ 'prom1' ]" class="link-big">«Счастливые часы на Экзотику»</a>
            </div>

            <div class="promotion-descriptions">
                <a class="btn btn-info">Принять участие</a>
                <div class="until-date"> Действует до <span>30.09.2018</span></div>
            </div>
            
        </div>
        <div class="promotion" style="background-image:url(/Content/Images/tour_category_test1.jpg)">
            <div class="promotion-name">
                <a class="link-big">«Счастливые часы на Экзотику»</a>
            </div>

            <div class="promotion-descriptions">
                <a [routerLink]="[ 'prom2' ]" class="btn btn-info">Принять участие</a>
                <div class="until-date"> Действует до <span>30.09.2018</span></div>
            </div>

        </div>
    </div>
</div>
