<div class="width-wrapper">
    <div class="text-wrapper promotion-text">
        АКЦИИ и СПЕЦПРЕДЛОЖЕНИЯ
    </div>
    <div class="promotions-wrapper">
        <div *ngFor="let promotion of promotionCollection">
            <div class="promotion"
                 [style.background]="'url(/api/image/' + promotion.oldImageCollection[0] + ')'">
                <div class="promotion-name">
                    <a [routerLink]="[ promotion.urlName ]"
                       [innerHtml]="promotion.name"
                       class="link-big">
                    </a>
                </div>

                <div class="promotion-descriptions">
                    <a class="btn btn-info"
                       (click)="openOrderPopup()">Принять участие</a>
                    <div class="until-date"> Действует до <strong>{{promotion.untilDate | date: 'yyyy-MM-dd'}}</strong></div>
                </div>
            </div>
        </div>
        
    </div>
</div>
