body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, legend, input, button, textarea, blockquote, th, td {
    margin: 0;
    padding: 0;
    outline: none;
}

label {
  font-weight: normal;
}

.required {
  color: red;
  font-weight: bold;
  margin: 0 5px;
}

.error{
  color:red;
}

.ng-dirty.ng-invalid{
  border-color:red !important;
}

.bold{
    font-weight:600;
}

/*------------matDogNail-------------------*/
.mat-dialog-container {
    padding: 0 !important;
}

html.cdk-global-scrollblock {
  width: initial;
  position: initial;
  overflow-y: initial;
}

body.modal-open {
  overflow: hidden;
}

body.modal-open .cdk-global-overlay-wrapper {
  pointer-events: all;
  overflow: auto;
  padding: 30px 0;
  position: fixed;
}

body .cdk-overlay-pane {
  /*position: relative !important;*/
  margin: auto !important;
}

.cdk-overlay-backdrop {
  position: fixed !important;
}

.mat-dialog-container {
  margin: 0 auto 30px !important;
  height: auto !important;
  overflow: initial !important;
}

.mat-dialog-content {
  max-width: none !important;
  max-height: none !important;
  overflow: initial !important;
}

@media (max-width: 600px) {

  body .cdk-global-overlay-wrapper {
    padding: 0 !important;
  }

  body .cdk-overlay-pane {
    max-width: none !important;
    width: 100% !important;
    left: 0 !important;
  }

  .mat-dialog-container {
    border-radius: 0 !important;
    margin: 0 !important;
  }
}

/*------------matDogNail-------------------*/


@font-face {
  font-family: 'exo';
  src: url(../fonts/Exo2Regular.woff);
  font-weight: normal;
  font-style: italic;
}

body {
    font-family: 'exo', sans-serif;
    min-width:400px;
}