@media (max-width: 960px) {
    header {

        .header-background {
            margin-top: 90px;
            height: 280px;
            margin-bottom: -370px;

            .header-background-image {
                height: 280px;
            }
        }

        .header-content {

            @media (min-width: 601px) {
                .logo {
                    display: block;
                    padding-top: 7px;
                    margin: 0 auto;
                    width: 400px;
                    text-align: center;
                }
            }

            .headerMenu {
                padding-top: 10px;
                float: none;
            }

            .mainMenu {
                text-align: center;

                @media (min-width: 600px) {
                    li {
                        margin: 0 10px;
                    }
                }
            }
            /*.middleHeaderMenu {
            margin: 15px auto;
            max-width: 700px;
            }*/
        }
    }

    footer {
        @media (min-width: 600px) {
            .footerRight {
                float: right;
                width: 250px;
                text-align: right;

                .footerMenu {

                    li {
                        display: block;
                    }
                }
            }
        }
    }
}
