<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Турфирма в Минске| Центр организации отдыха «Travel X»</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/distSite/styles")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <meta name="description" content="➤Турфирма «Travel X» в Минске. ➤Поиск по 9.430 турам. ➤Актуальные цены от 96$. ➤Организация отдыха «под ключ». Заходите на сайт и выбирайте путёвку! ➥">
    <meta name="keywords" content="турфирма Минск, поиск тура, турагентство Минск, туристическая фирма, трэвел х, трэвел икс, тревел х, тревел икс, турфирма, турагентство, туристическая компания, надежная турфирма">

    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="~/Content/Icons/fontAwesome.js"></script>
    <script src="https://bigtrip.by/scripts/external/bigtrip-external-2.js?id=5287"></script>
</head>
<body>
    <siteComponent></siteComponent>

    <script type="text/javascript" src="~/distSite/runtime.js"></script>
    <script type="text/javascript" src="~/distSite/polyfills.js"></script>
    <script type="text/javascript" src="~/distSite/styles.js"></script>
    <script type="text/javascript" src="~/distSite/vendor.js"></script>
    <script type="text/javascript" src="~/distSite/main.js"></script>


    @*@Scripts.Render("~/distSite/siteApp")*@

</body>
</html>
