<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TouristCenter</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  @Styles.Render("~/Content/css")
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script src="~/Content/Icons/fontAwesome.js"></script>
</head>
<body>
  <siteComponent></siteComponent>
  <script type="text/javascript" src="~/distSite/inline.bundle.js"></script>
  <script type="text/javascript" src="~/distSite/polyfills.bundle.js"></script>
  <script type="text/javascript" src="~/distSite/styles.bundle.js"></script>
  <script type="text/javascript" src="~/distSite/vendor.bundle.js"></script>
  <script type="text/javascript" src="~/distSite/main.bundle.js"></script>
</body>
</html>
