<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Travel X</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/distSite/styles")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="~/Content/Icons/fontAwesome.js"></script>
</head>
<body>
    <siteComponent></siteComponent>

    <script type="text/javascript" src="~/distSite/runtime.js"></script>
    <script type="text/javascript" src="~/distSite/polyfills.js"></script>
    <script type="text/javascript" src="~/distSite/styles.js"></script>
    <script type="text/javascript" src="~/distSite/vendor.js"></script>
    <script type="text/javascript" src="~/distSite/main.js"></script>


@*@Scripts.Render("~/distSite/siteApp")*@

</body>
</html>
