<div class="tour-types">
    <div class="tour-type col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="tour-type-info">
            <div class="tour-type-name">
                Пляжный отдых
            </div>
            <div class="separator">
            </div>
            <a [routerLink]="[ '/tour/beach' ]" class="tour-type-button-link">СМОТРЕТЬ</a>
        </div>
        <img src="/Content/Images/Home/TourTypes/beach.jpg" />
    </div>
    <div class="tour-type col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="tour-type-info">
            <div class="tour-type-name">
                Автобусные туры
            </div>
            <div class="separator">
            </div>
            <a [routerLink]="[ '/tour/bus' ]" class="tour-type-button-link">СМОТРЕТЬ</a>
        </div>
        <img src="/Content/Images/Home/TourTypes/bus.jpg" />
    </div>
    <div class="tour-type col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="tour-type-info">
            <div class="tour-type-name">
                Горнолыжный отдых
            </div>
            <div class="separator">
            </div>
            <a [routerLink]="[ '/tour/skiing' ]" class="tour-type-button-link">СМОТРЕТЬ</a>
        </div>
        <img src="/Content/Images/Home/TourTypes/skiing.jpg" />
    </div>
    <div class="tour-type col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="tour-type-info">
            <div class="tour-type-name">
                Новогодние туры
            </div>
            <div class="separator">
            </div>
            <a [routerLink]="[ '/tour/newyear' ]" class="tour-type-button-link">СМОТРЕТЬ</a>
        </div>
        <img src="/Content/Images/Home/TourTypes/newYear.jpg" />
    </div>
    <div class="tour-type col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="tour-type-info">
            <div class="tour-type-name">
                Индивидуальный отдых
            </div>
            <div class="separator">
            </div>
            <a [routerLink]="[ '/tour/individual' ]" class="tour-type-button-link">СМОТРЕТЬ</a>
        </div>
        <img src="/Content/Images/Home/TourTypes/individual.jpg" />
    </div>
    <div class="tour-type col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="tour-type-info">
            <div class="tour-type-name">
                Корпоративные туры
            </div>
            <div class="separator">
            </div>
            <a [routerLink]="[ '/tour/corporate' ]" class="tour-type-button-link">СМОТРЕТЬ</a>
        </div>
        <img src="/Content/Images/Home/TourTypes/corporate.jpg" />
    </div>
</div>