/*--mat select--*/
::ng-deep mat-select .mat-select-trigger {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  ::ng-deep mat-select .mat-select-trigger span {
    line-height: 20px; }

.tour-text {
  margin-bottom: 20px; }

.tours-header h2 {
  display: inline; }

.tours-header a.link-big {
  float: right;
  line-height: 33px; }
  .tours-header a.link-big i {
    font-size: 19px;
    margin: 0 10px; }

.tour-filter {
  margin: 10px 0; }
  .tour-filter .filter-control {
    width: 340px;
    display: inline-block;
    margin-right: 10px; }

.tours-wrapper {
  margin: 0 20px; }
  .tours-wrapper .tour {
    margin-bottom: 20px; }
    .tours-wrapper .tour .image-description .tour-image {
      margin-top: 10px;
      margin-right: 40px; }
      .tours-wrapper .tour .image-description .tour-image .image {
        width: 340px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        padding-top: 50%;
        text-align: center;
        display: block; }
    .tours-wrapper .tour .image-description .tour-descriptions {
      margin-top: 10px;
      margin-right: 10px;
      min-width: 200px; }
      .tours-wrapper .tour .image-description .tour-descriptions a.link-big i {
        font-size: 19px;
        margin-left: 10px; }
    .tours-wrapper .tour .tour-prices {
      margin-top: 10px;
      width: 220px; }
      .tours-wrapper .tour .tour-prices div {
        margin-bottom: 5px; }

@media (min-width: 850px) {
  .tour {
    display: flex;
    justify-content: space-between; } }

@media (max-width: 850px) {
  .tour {
    display: block; } }

@media (min-width: 600px) {
  .tour .image-description {
    display: flex;
    justify-content: space-between; } }

@media (max-width: 600px) {
  .tour {
    width: 340px;
    margin: 0 auto 20px auto; }
    .tour .image-description {
      display: block; } }
