<div class="width-wrapper">
    <h1>Страны</h1>
    <div class="counties-wrapper">
        <div class="country">
            <div class="image-description">
                <div class="country-image">
                    <img class="counrty-image" src="/Content/Images/tour_category_test1.jpg" />
                </div>
                <div class="country-descriptions">
                    <a class="link-big">Бали</a>
                    <ul>
                        <li>Все условия для релаксации</li>
                        <li>Прекрасные песчаные пляжи</li>
                        <li>SPA-центры. Аквапарки</li>
                        <li>Водные виды спорта. Серфинг</li>
                    </ul>
                </div>
            </div>
            <div class="country-prices">
                <p>Отели:</p>
                <div class="hotels">
                    <div class="stars">
                        <ul>
                            <li>
                                <span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span>
                            </li>
                            <li>
                                <span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span>
                            </li>
                            <li>
                                <span class="s"></span><span class="s"></span><span class="s"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="price">
                        <ul>
                            <li>от <strong>1 998,00 р.</strong></li>
                            <li>от <strong>1 480,00 р.</strong></li>
                            <li>от <strong>1 618,00 р.</strong></li>
                        </ul>
                    </div>
                </div>
               <div>
                   <strong>Пляжный отдых</strong>
               </div>
            </div>
        </div>
        <div class="country">
            <div class="image-description">
                <div class="country-image">
                    <img class="counrty-image" src="/Content/Images/tour_category_test1.jpg" />
                </div>
                <div class="country-descriptions">
                    <a class="link-big">Бали</a>
                    <ul>
                        <li>Все условия для релаксации</li>
                        <li>Прекрасные песчаные пляжи</li>
                        <li>SPA-центры. Аквапарки</li>
                        <li>Водные виды спорта. Серфинг</li>
                    </ul>
                </div>
            </div>
            <div class="country-prices">
                <p>Отели:</p>
                <div class="hotels">
                    <div class="stars">
                        <ul>
                            <li>
                                <span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span>
                            </li>
                            <li>
                                <span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span>
                            </li>
                            <li>
                                <span class="s"></span><span class="s"></span><span class="s"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="price">
                        <ul>
                            <li>от <strong>1 998,00 р.</strong></li>
                            <li>от <strong>1 480,00 р.</strong></li>
                            <li>от <strong>1 618,00 р.</strong></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <strong>Пляжный отдых</strong>
                </div>
            </div>
        </div>
    </div>
</div>
