.country-text {
  margin-bottom: 20px; }

.countries-header h2 {
  display: inline; }

.countries-header a.link-big {
  float: right;
  line-height: 33px; }
  .countries-header a.link-big i {
    font-size: 19px; }

.counties-wrapper {
  margin: 0 20px; }
  .counties-wrapper .country {
    margin-bottom: 20px; }
    .counties-wrapper .country .image-description .country-image {
      margin-top: 10px;
      margin-right: 40px; }
      .counties-wrapper .country .image-description .country-image img {
        width: 340px;
        height: 250px; }
    .counties-wrapper .country .image-description .country-descriptions {
      margin-top: 10px;
      min-width: 200px;
      max-width: 500px; }
      .counties-wrapper .country .image-description .country-descriptions a.link-big i {
        font-size: 19px; }
    .counties-wrapper .country .country-prices {
      margin-top: 10px;
      margin-right: 10px;
      min-width: 220px; }
      .counties-wrapper .country .country-prices .hotels {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px; }
        .counties-wrapper .country .country-prices .hotels li {
          list-style-type: none; }
        .counties-wrapper .country .country-prices .hotels .stars {
          margin-right: 5px; }
          .counties-wrapper .country .country-prices .hotels .stars .s {
            background-image: url(/content/images/star.svg);
            background-position: 14px 14px;
            width: 14px;
            height: 14px;
            display: inline-block;
            margin-top: 2px; }

@media (min-width: 850px) {
  .country {
    display: flex;
    justify-content: space-between; } }

@media (max-width: 850px) {
  .country {
    display: block; } }

@media (min-width: 600px) {
  .country .image-description {
    display: flex;
    justify-content: space-between; } }

@media (max-width: 600px) {
  .country {
    width: 340px;
    margin: 0 auto 20px auto; }
    .country .image-description {
      display: block; } }
