<div class="width-wrapper">
    <div class="counties-wrapper">
        <div class="countries-header">
            <h2>Страны</h2>
            <a [routerLink]="[ '/administration/countries/new' ]" class="link-big">
                <span>Новая страна</span>
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
        <div>
            <div class="country">
                <div class="image-description">
                    <div class="country-image">
                        <img class="counrty-image" src="/Content/Images/tour_category_test1.jpg" />
                    </div>
                    <div class="country-descriptions">
                        <a [routerLink]="[ '/administration/countries/bali' ]" class="link-big">
                            <span>Бали</span>
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <ul>
                            <li>Все условия для релаксации</li>
                            <li>Прекрасные песчаные пляжи</li>
                            <li>SPA-центры. Аквапарки</li>
                            <li>Водные виды спорта. Серфинг</li>
                        </ul>
                    </div>
                </div>
                <div class="country-prices">
                    <p>Отели:</p>
                    <div class="hotels">
                        <div class="stars">
                            <ul>
                                <li>
                                    <span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span>
                                </li>
                                <li>
                                    <span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span>
                                </li>
                                <li>
                                    <span class="s"></span><span class="s"></span><span class="s"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="price">
                            <ul>
                                <li>от <strong>1 998,00 р.</strong></li>
                                <li>от <strong>1 480,00 р.</strong></li>
                                <li>от <strong>1 618,00 р.</strong></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <strong>Пляжный отдых</strong>
                    </div>
                </div>
            </div>
            <div class="country">
                <div class="image-description">
                    <div class="country-image">
                        <img class="counrty-image" src="/Content/Images/tour_category_test1.jpg" />
                    </div>
                    <div class="country-descriptions">
                        <a class="link-big">
                            <span>Бали</span>
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <ul>
                            <li>Все условия для релаксации</li>
                            <li>Прекрасные песчаные пляжи</li>
                            <li>SPA-центры. Аквапарки</li>
                            <li>Водные виды спорта. Серфинг</li>
                        </ul>
                    </div>
                </div>
                <div class="country-prices">
                    <p>Отели:</p>
                    <div class="hotels">
                        <div class="stars">
                            <ul>
                                <li>
                                    <span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span>
                                </li>
                                <li>
                                    <span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span>
                                </li>
                                <li>
                                    <span class="s"></span><span class="s"></span><span class="s"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="price">
                            <ul>
                                <li>от <strong>1 998,00 р.</strong></li>
                                <li>от <strong>1 480,00 р.</strong></li>
                                <li>от <strong>1 618,00 р.</strong></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <strong>Пляжный отдых</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
