<div class="users-header">
    <h1>Пользователи</h1>
    <a [routerLink]="[ '/administration/users/register' ]" class="link-big">
        <span>Новый пользователь</span>
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Email</td>
            <td>Имя</td>
            <td>Фамилия</td>
            <td class="center">Уведомлять о заявках</td>
            <td class="center">Активировать</td>
            <td class="center">Удалить</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userCollection">
            <td class="name">{{user.email}}</td>
            <td class="name">{{user.firstName}}</td>
            <td class="name">{{user.lastName}}</td>
            <td class="notification center">
                <a *ngIf="user.notificationEnabled" 
                   (click)="openDisableNotifyConfirmation(user)" 
                   class="link-big" 
                   style="color:blue">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
                <a *ngIf="!user.notificationEnabled"
                   (click)="openEnableNotifyConfirmation(user)"
                   class="link-big" 
                   style="color:grey">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </td>
            <td class="activate center">
                <a *ngIf="!user.emailConfirmed" 
                   (click)="openActivateConfirmation(user)" 
                   class="link-big" style="color:green">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </a>
            </td>
            <td class="delete center">
                <a (click)="openDeleteConfirmation(user)" class="link-big" style="color:red">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    </tbody>

</table>

<pagerComponent [pageOptions]="pageOptions"
                (setPageEvent)="getUsersPage($event)"></pagerComponent>