<div class="width-wrapper">
    <div class="tours-wrapper">
        <div class="tours-header">
            <h2>Туры</h2>
            <a [routerLink]="[ '/administration/tours/new' ]" class="link-big">
                <span>Новый тур</span>
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
        <div>
            <div class="tour">
                <div class="image-description">
                    <div class="tour-image">
                        <img src="/Content/Images/tour_category_test1.jpg" />
                    </div>
                    <div class="tour-descriptions">
                        <div class="stars">
                            <span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span>
                        </div>
                        <a [routerLink]="[ '/administration/tours/tour1' ]" class="link-big">
                            <span>Тур 1</span>
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <div>City</div>
                        <ul>
                            <li>Все условия для релаксации</li>
                            <li>Прекрасные песчаные пляжи</li>
                            <li>SPA-центры. Аквапарки</li>
                            <li>Водные виды спорта. Серфинг</li>
                        </ul>
                    </div>
                </div>
                <div class="tour-prices">
                    <div>
                        <div>от <strong>1 998,00 р.</strong></div>
                        <div>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span>от 7 ночей</span>
                        </div>
                        <div>
                            <i class="fa fa-plane" aria-hidden="true"></i>
                            <span>перелет включен</span>
                        </div>
                    </div>
                    <div>
                        <strong>Пляжный отдых</strong>
                    </div>
                </div>
            </div>
            <div class="tour">
                <div class="image-description">
                    <div class="tour-image">
                        <img src="/Content/Images/tour_category_test1.jpg" />
                    </div>
                    <div class="tour-descriptions">
                        <div class="stars">
                            <span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span>
                        </div>
                        <a [routerLink]="[ '/administration/tours/tour1' ]" class="link-big">
                            <span>Тур 1</span>
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <div>City</div>
                        <ul>
                            <li>Все условия для релаксации</li>
                            <li>Прекрасные песчаные пляжи</li>
                            <li>SPA-центры. Аквапарки</li>
                            <li>Водные виды спорта. Серфинг</li>
                        </ul>
                    </div>
                </div>
                <div class="tour-prices">
                    <div>
                        <div>от <strong>1 998,00 р.</strong></div>
                        <div>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span>от 7 ночей</span>
                        </div>
                        <div>
                            <i class="fa fa-plane" aria-hidden="true"></i>
                            <span>перелет включен</span>
                        </div>
                    </div>
                    <div>
                        <strong>Пляжный отдых</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
