.tour-text {
    margin-bottom: 20px;
}

.tours-header {
    h2 {
        display: inline;
    }

    a.link-big {
        float: right;
        line-height: 33px;

        i {
            font-size: 19px;
        }
    }
}

.tours-wrapper {
    margin: 0 20px;

    .tour {
        margin-bottom: 20px;

        .image-description {

            .tour-image {
                margin-top: 10px;
                margin-right: 40px;

                img {
                    width: 340px;
                    height: 250px;
                }
            }

            .tour-descriptions {
                margin-top: 10px;
                margin-right: 10px;
                min-width: 200px;

                .stars {
                    margin-right: 5px;

                    .s {
                        background-image: url(/content/images/star.svg);
                        background-position: 14px 14px;
                        width: 14px;
                        height: 14px;
                        display: inline-block;
                        margin-top: 2px;
                    }
                }

                a.link-big {

                    i {
                        font-size: 19px;
                    }
                }
            }
        }

        .tour-prices {
            margin-top: 10px;
            width: 220px;

            div {
                margin-bottom: 5px;
            }
        }
    }
}


@media (min-width: 850px) {
    .tour {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 850px) {
    .tour {
        display: block;
    }
}

@media (min-width: 600px) {
    .tour {

        .image-description {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (max-width: 600px) {
    .tour {
        width: 340px;
        margin: 0 auto 20px auto;

        .image-description {
            display: block;
        }
    }
}
