<div class="width-wrapper">
    <div class="tours-wrapper">
        <div class="tours-header">
            <h2>Туры</h2>
            <a [routerLink]="[ '/administration/tours/new' ]" class="link-big">
                <span>Новый тур</span>
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
        <div class="tour-filter">
            <div class="filter-control">
                <mat-select [(ngModel)]="activeTourType"
                            (selectionChange)="tourTypeFiterChange()"
                            placeholder="Выберите...">
                    <mat-option *ngFor="let tourTypeKey of tourTypes.keys()" [value]="tourTypeKey">
                        {{ tourTypes[tourTypeKey] }}
                    </mat-option>
                </mat-select>
            </div>
            
            <div class="filter-control">
                <mat-select [(ngModel)]="activeCountry"
                            (selectionChange)="countryFiterChange()"
                            placeholder="Выберите...">
                    <mat-option *ngFor="let countryKey of countryCollection.keys()" [value]="countryKey">
                        {{ countryCollection[countryKey] }}
                    </mat-option>
                </mat-select>
            </div>

        </div>
        <div>
            <div class="tour" *ngFor="let tour of tourCollection">
                <div class="image-description">
                    <div class="tour-image">
                        <div class="image"
                             [style.background]="'url(/api/image/' + tour.oldImageCollection[0] + ')'">
                        </div>
                    </div>
                    <div class="tour-descriptions">
                        <div class="stars">
                            <span *ngFor="let i of starsArray(tour.stars).fill('star')" class="s"></span>
                        </div>
                        <a [routerLink]="[ '/administration/tours/' + tour.category + '/' + tour.country +'/' + tour.urlName ]" class="link-big">
                            <span [innerHtml]="tour.name"></span>
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a (click)="openDeleteConfirmation(tour.tourId, tour.name)" class="link-big" style="color:red">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                        <div [innerHtml]="tour.city"></div>
                        <div [innerHtml]="tour.description"></div>
                        <div class="images-count">
                            <i class="fa fa-image" aria-hidden="true"></i>
                            <span [innerHtml]="tour.oldImageCollection.length"></span>
                        </div>
                    </div>
                </div>
                <div class="tour-prices">
                    <div>
                        <div>от <strong [innerHtml]="tour.price"></strong>р.</div>
                        <div>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span>от <span [innerHtml]="tour.nights"></span> ночей</span>
                        </div>
                        <div *ngIf="tour.isFlightIncluded">
                            <i class="fa fa-plane" aria-hidden="true"></i>
                            <span>перелет включен</span>
                        </div>
                    </div>
                    <div>
                        <strong [innerHtml]="getTourTypeName(tour.category)"></strong>
                    </div>
                    <div>
                        <strong [innerHtml]="tour.country"></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
