<div class="width-wrapper">
    <div class="register-wrapper">
        <div [formGroup]="registerForm" class="register">
            <div class="register-fields">
                <div class="mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Email</span>
                        <span class="required">*</span>
                    </div>
                    <input type="text"
                           name="name"
                           class="form-control"
                           formControlName="email"
                           [(ngModel)]="registerModel.email"
                           aria-describedby="basic-addon1">
                </div>
                <div class="mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">First Name</span>
                        <span class="required">*</span>
                    </div>
                    <input type="text"
                           name="name"
                           class="form-control"
                           formControlName="firstName"
                           [(ngModel)]="registerModel.firstName"
                           aria-describedby="basic-addon1">
                </div>
                <div class="mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Last Name</span>
                        <span class="required">*</span>
                    </div>
                    <input type="text"
                           name="name"
                           class="form-control"
                           formControlName="lastName"
                           [(ngModel)]="registerModel.lastName"
                           aria-describedby="basic-addon1">
                </div>
                <div class="mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Password</span>
                        <span class="required">*</span>
                    </div>
                    <input type="password"
                           name="password"
                           class="form-control"
                           formControlName="password"
                           [(ngModel)]="registerModel.password"
                           aria-describedby="basic-addon1">
                    <div *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.touched">
                        <div class="error" *ngIf="registerForm.controls.password.errors?.pattern">
                            Password must contain at least 1 uppercase, 1 lowercase, 1 number and 1 special character
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Confirm Password</span>
                        <span class="required">*</span>
                    </div>
                    <input type="password"
                           name="confirmPassword"
                           class="form-control"
                           formControlName="confirmPassword"
                           [(ngModel)]="registerModel.confirmPassword"
                           aria-describedby="basic-addon1">
                    <div *ngIf="registerForm.controls.confirmPassword.invalid && registerForm.controls.confirmPassword.touched">
                        <div class="error" *ngIf="registerForm.controls.confirmPassword.errors?.passwordMatched">
                            The Confirm password and Password do not match
                        </div>
                    </div>
                </div>
            </div>
            <div class="error" [innerHtml]="errorMessage">
            </div>
            <div class="actions">
                <button (click)="register()"
                        class="btn btn-primary"
                        [disabled]="!registerForm.valid">
                    Save
                </button>
                <button routerLink="/administration/users"
                        class="btn btn-secondary">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
