<div class="width-wrapper">
    <div class="text-wrapper country-text">
        Что нужно для отличного отдыха? Море, солнце, великолепный сервис в отелях, предлагающих удобную систему «все включено», обширная развлекательная программа, умопомрачительные ночные дискотеки, лучшие блюда национальной кухни дарят путешественникам лучшие дни отдыха под жарким солнцем.
    </div>
    <div class="counties-wrapper">
        <div class="country">
            <div class="image-description">
                <div class="country-image">
                    <img class="counrty-image" src="/Content/Images/tour_category_test1.jpg" />
                </div>
                <div class="country-descriptions">
                    <a [routerLink]="[ '/tour/beach/bali' ]" class="link-big">Бали</a>
                    <ul>
                        <li>Все условия для релаксации</li>
                        <li>Прекрасные песчаные пляжи</li>
                        <li>SPA-центры. Аквапарки</li>
                        <li>Водные виды спорта. Серфинг</li>
                    </ul>
                </div>
            </div>
            <div class="country-prices">
                <p>Отели:</p>
                <div class="hotels">
                    <div class="stars">
                        <ul>
                            <li>
                                <span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span>
                            </li>
                            <li>
                                <span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span>
                            </li>
                            <li>
                                <span class="s"></span><span class="s"></span><span class="s"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="price">
                        <ul>
                            <li>от <strong>1 998,00 р.</strong></li>
                            <li>от <strong>1 480,00 р.</strong></li>
                            <li>от <strong>1 618,00 р.</strong></li>
                        </ul>
                    </div>
                </div>
                <a class="btn btn-info">Подробнее</a>
            </div>
        </div>
        <div class="country">
            <div class="image-description">
                <div class="country-image">
                    <img class="counrty-image" src="/Content/Images/tour_category_test1.jpg" />
                </div>
                <div class="country-descriptions">
                    <a [routerLink]="[ '/tour/beach/bali' ]" class="link-big">Бали</a>
                    <ul>
                        <li>Все условия для релаксации</li>
                        <li>Прекрасные песчаные пляжи</li>
                        <li>SPA-центры. Аквапарки</li>
                        <li>Водные виды спорта. Серфинг</li>
                    </ul>
                </div>
            </div>
            <div class="country-prices">
                <p>Отели:</p>
                <div class="hotels">
                    <div class="stars">
                        <ul>
                            <li>
                                <span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span>
                            </li>
                            <li>
                                <span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span>
                            </li>
                            <li>
                                <span class="s"></span><span class="s"></span><span class="s"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="price">
                        <ul>
                            <li>от <strong>1 998,00 р.</strong></li>
                            <li>от <strong>1 480,00 р.</strong></li>
                            <li>от <strong>1 618,00 р.</strong></li>
                        </ul>
                    </div>
                </div>
                <a class="btn btn-info">Подробнее</a>
            </div>
        </div>
    </div>
</div>
