<div class="banner"
     [style.background]="'url(/Content/Images/Bus/banner.jpg)'">
    <div class="banner-content">
        <div class="banner-content-center">
            <div class="banner-head font-Akrobat-ExtraBold">
                <div>Каникулы в Европе для душевных воспоминаний!</div>
            </div>
            <div class="banner-text font-OpenSans-Regular">
                <div>
                    БОЛЕЕ 1950 СЦЕНАРИЕВ ПРИКЛЮЧЕНИЙ
                </div>
            </div>
            <button (click)="openOrderPopup('ХОЧУ В ЕВРОПУ!')" class="white-button">
                ХОЧУ В ЕВРОПУ!
            </button>
        </div>
    </div>
</div>
<div class="width-wrapper">
    <div class="bus-tours-page">
        <div class="text-wrapper">
            <h1 class="center">Автобусные туры по Европе из Минска</h1>
            <div class="center">
                <div>
                    <h4>Создайте собственное европейское приключение</h4>
                </div>
                <div>
                    <h4>с помощью нашего онлайн-подбора автобусных маршрутов по Европе!</h4>
                </div>
            </div>
            
            <div class="improvisation center">
                <h4>
                    Импровизируйте!
                </h4>
                <div>
                    <img src="/Content/Images/arrows-red-down.png" />
                </div>
            </div>

            <iframe src="https://bigtrip.by/widget/default/index/5287" name="bigtrip_frame" id="bigtrip_frame" style="border: 0px none; padding: 0px; display: block; width: 100%; height: 1422px;"> Сервис подбора автобусных туров BIGTRIP.BY </iframe><em style="float: right;">База предоставлена <a href="https://bigtrip.by/operators" target="_blank">Сервисом подбора туров</a></em><br /> <iframe src="about:black" name="bigtrip_popup" id="bigtrip_popup" style="position: fixed; border: none; left: 0; top: 0; right: 0; bottom: 0; visibility: visible; z-index: 99999; display: none; width: 100%; height: 100%; padding: 0;"></iframe>
            
            <div class="bottom-text">
                <h2 class="center">Автобусные туры в Европу из Минска – настоящее приключение!</h2>
                <div class="text">
                    Заблудитесь в стенах средневековых замков Германии, уловите запах лаванды на цветочных полях Франции, продегустируйте терпкие вина из домашних винокурен Италии, прикупите антиквариат на блошиных рынках Голландии, проводите закат на «краю света» в Португалии, разыщите скрытые от посторонних глаз бухты в Испании, насчитайте 50 оттенков зеленого в горных долинах Швейцарии, побывайте в ледяном дворце Снежной Королевы в Лапландии, пересчитайте овец на бескрайних пастбищах Дании.
                </div>
            </div>

            <div class="put-order center">
                <div>
                    <h4>
                        Хотите и Вы отправиться в захватывающий тур по Европе?
                    </h4>
                </div>
                <div>
                    <h4>
                        Оставляйте заявку нашим специалистам по автобусным путешествиям – и вперед навстречу приключениям!
                    </h4>
                </div>

                <div class="font-PFDinDisplayPro-Light">
                    <button type="button" (click)="openOrderPopup('ОТПРАВИТЬСЯ В ПРИКЛЮЧЕНИЕ')" class="order-btn">
                        ОТПРАВИТЬСЯ В ПРИКЛЮЧЕНИЕ
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="https://bigtrip.by/scripts/external/bigtrip-external-2.js?id=5287"></script>