.banner img {
  width: 100%; }

.bus-tours-page .text-wrapper h1 {
  max-width: 720px;
  margin: 20px auto; }

.bus-tours-page .text-wrapper .improvisation {
  margin: 20px 0; }

.bus-tours-page .text-wrapper .put-order {
  text-align: center;
  margin: 30px 0; }
  .bus-tours-page .text-wrapper .put-order h4 {
    margin-bottom: 10px; }
  .bus-tours-page .text-wrapper .put-order .order-btn {
    background-color: white;
    color: #fc3b3c;
    border: 2px solid #fc3b3c;
    width: 300px;
    line-height: 35px;
    font-size: 20px; }
  .bus-tours-page .text-wrapper .put-order .order-btn:hover {
    box-shadow: 0 0 7px rgba(253, 10, 10, 0.75);
    color: white;
    background-color: #fc3b3c; }

.bus-tours-page .text-wrapper .bottom-text {
  margin: 40px; }
  .bus-tours-page .text-wrapper .bottom-text .text {
    font-size: 16px;
    line-height: 20px;
    font-family: OpenSans-Semibold; }
  .bus-tours-page .text-wrapper .bottom-text h2 {
    margin: 20px 0; }
