<div class="width-wrapper">
    <div class="text-wrapper">
        Текст страницы
    </div>
</div>
<div class="row">
    <div class="category col-md-4 col-sm-6 col-xs-12">
        <a [routerLink]="[ '/tour/beach' ]" style="background-image: url(/Content/Images/tour_category_test1.jpg)">
            <div>Пляжный отдых</div>
        </a>
    </div>
    <div class="category col-md-4 col-sm-6 col-xs-12">
        <a [routerLink]="[ '/tour/bus' ]" style="background-image: url(/Content/Images/tour_category_test2.jpg)">
            <div>Автобусные туры</div>
        </a>
    </div>
    <div class="category col-md-4 col-sm-6 col-xs-12">
        <a [routerLink]="[ '/tour/skiing' ]" style="background-image: url(/Content/Images/tour_category_test2.jpg)">
            <div>Горнолыжные туры</div>
        </a>
    </div>
    <div class="category col-md-4 col-sm-6 col-xs-12">
        <a [routerLink]="[ '/tour/newyear' ]" style="background-image: url(/Content/Images/tour_category_test2.jpg)">
            <div>Новогодние туры</div>
        </a>
    </div>
    <div class="category col-md-4 col-sm-6 col-xs-12">
        <a [routerLink]="[ '/tour/individual' ]" style="background-image: url(/Content/Images/tour_category_test2.jpg)">
            <div>Индивидуальные туры</div>
        </a>
    </div>
    <div class="category col-md-4 col-sm-6 col-xs-12">
        <a [routerLink]="[ '/tour/corporate' ]" style="background-image: url(/Content/Images/tour_category_test2.jpg)">
            <div>Корпоративный отдых</div>
        </a>
    </div>
</div>