.category {
  margin-bottom: 20px;
  padding: 0 10px 0 10px !important; }
  .category a {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50%;
    text-align: center;
    display: block;
    font-size: 18px;
    color: white !important; }
    .category a div {
      position: absolute;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%; }

