<div class="width-wrapper">
    <div class="text-wrapper">
        <p>Сегодня уже не совсем модно, да и не комфортно, проводить отдых в Крыму или в том же Сочи, некоторые люде желают приятно провести время не зависимо от погодных условий своего региона. Выход поможет найти Центр туризма. </p>
        <p>Очень давно и много раз мы слышали от врачей и психологов, что смена обстановки благотворно влияет, как на весь организм на уровне физиологического здоровья, так и помогает "отдохнуть мозгу" от постоянных картинок, которые просто приелись от обыденной жизни.</p>
        <p>Если не прислушиваться умным советам врачей возможны расстройство основных систем: дыхательной (загрязненный воздух), сердечно-сосудистой и опорно-двигательной (малоподвижный образ жизни) и т.д., писать можно много, но на данных примерах легко видно, что чистый морской воздух и обилие растительности "прочистит" легкие, а активный образ жизни (плавание или просто ходьба и прогулка по новым достопримечательностям) восстановят опорно-двигательную систему, и суставы еще долго не дадут о себе знать. Ведущие психологи мира давно делали акцент лечения всех неврозов на смену обстановки. </p>
        <p>
            Выбор страны для путешествий достаточно велик. ВТО выделяет четко шесть, отличных по составу в географии, туристских центров мира:<br>
            - Американский. Сюда входят страны Северной, Южной и Центральной Америки, территории Карибского бассейна и островные государства;<br>
            - Европейский. Это страны Западной, Южной, Северной, Восточной и Центральной Европы (плюс бывшие республики СССР, а также Израиль, Кипр, Турция - государства Восточного Средиземноморья);<br>
            - Азиатско-Тихоокеанский. Среди его - страны Юго-Восточной и Восточной Азии, Океания и Австралия;<br>
            - Южно - Азиатский - все страны Южной Азии;<br>
            - Африканский - страны Африки, но кроме Египта и Ливии;<br>
            - Ближне - Восточный. К нему относят Египет и Ливию (страны Западной и Юго-Западной Азии).
        </p>
        <p>Присмотревшись сразу видны одни положительные качества туристических путешествий, будь то Турция, Египет, Тунис, ОАЭ, Куба, Тайланд, Шри Ланка или Мальдивы вы однозначно получите массу положительных эмоций!</p>
    </div>
</div>
<div class="row">
    <div class="category col-md-4 col-sm-6 col-xs-12">
        <a [routerLink]="[ '/tour/beach' ]" style="background-image: url(/Content/Images/tour_category_test1.jpg)">
            <div>Пляжный отдых</div>
        </a>
    </div>
    <div class="category col-md-4 col-sm-6 col-xs-12">
        <a [routerLink]="[ '/tour/bus' ]" style="background-image: url(/Content/Images/tour_category_test2.jpg)">
            <div>Автобусные туры</div>
        </a>
    </div>
    <div class="category col-md-4 col-sm-6 col-xs-12">
        <a [routerLink]="[ '/tour/skiing' ]" style="background-image: url(/Content/Images/tour_category_test2.jpg)">
            <div>Горнолыжные туры</div>
        </a>
    </div>
    <div class="category col-md-4 col-sm-6 col-xs-12">
        <a [routerLink]="[ '/tour/newyear' ]" style="background-image: url(/Content/Images/tour_category_test2.jpg)">
            <div>Новогодние туры</div>
        </a>
    </div>
    <div class="category col-md-4 col-sm-6 col-xs-12">
        <a [routerLink]="[ '/tour/individual' ]" style="background-image: url(/Content/Images/tour_category_test2.jpg)">
            <div>Индивидуальные туры</div>
        </a>
    </div>
    <div class="category col-md-4 col-sm-6 col-xs-12">
        <a [routerLink]="[ '/tour/corporate' ]" style="background-image: url(/Content/Images/tour_category_test2.jpg)">
            <div>Корпоративный отдых</div>
        </a>
    </div>
</div>