.register-wrapper {
  margin: 0 20px; }
  .register-wrapper .register {
    margin-bottom: 20px; }
    .register-wrapper .register .register-fields .input-group {
      width: 100%; }
      .register-wrapper .register .register-fields .input-group .form-control {
        width: 100%; }
    .register-wrapper .register .actions {
      margin: 15px 0; }
      .register-wrapper .register .actions button {
        width: 180px;
        margin: 10px 20px 10px 0; }
