<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Travel X</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/distAdministration/styles")
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="~/Content/Icons/fontAwesome.js"></script>
</head>
<body>
    <administration-root></administration-root>

    <script type="text/javascript" src="~/distAdministration/inline.bundle.js"></script>
    <script type="text/javascript" src="~/distAdministration/polyfills.bundle.js"></script>
    <script type="text/javascript" src="~/distAdministration/styles.bundle.js"></script>
    <script type="text/javascript" src="~/distAdministration/vendor.bundle.js"></script>
    <script type="text/javascript" src="~/distAdministration/main.bundle.js"></script>


    @*@Scripts.Render("~/distAdministration/administrationApp")*@
</body>
</html>
