<header>
    <div class="header-content">
        <div class="topHeaderMenu">
            <div class="width-wrapper header-sm">
                <div class="header-item logo">
                    <a [routerLink]="[ '/' ]">
                        <img src="/Content/Images/logo-color.png" />
                    </a>
                </div>
                <div class="header-item phones font-PFDinDisplayPro-Reg">
                    <div class="phone">
                        <a href="tel:+375293688788">+375.29.368.87.88</a>
                    </div>
                    <div class="phone">
                        <a href="tel:+375333668788">+375.33.366.87.88</a>
                    </div>
                </div>
                <div class="separator separator-address"></div>
                <div class="header-item address">
                    <h4 class="font-PFDinDisplayPro-Reg">
                        <span>Адрес</span>
                    </h4>
                    <div>
                        <div>Минск, ст.м. Фрунзенская</div>
                        <div>Мельникайте 4, офис 509</div>
                    </div>
                </div>
                <div class="separator separator-work-time"></div>
                <div class="header-item work-time">
                    <h4 class="font-PFDinDisplayPro-Reg">
                        <span>Время работы</span>
                    </h4>
                    <div>
                        <div>Будние: 10:00-20:00</div>
                        <div>Суббота: 10:00-18:00</div>
                    </div>
                </div>
                <div class="header-item order-btn-wrapper font-PFDinDisplayPro-Light">
                    <button type="button" (click)="openOrderPopup('ХОЧУ НА ОТДЫХ')" class="order-btn">ХОЧУ НА ОТДЫХ!</button>
                </div>
            </div>
            <div class="width-wrapper header-xs">
                <div class="header-item level">
                    <div class="header-item logo">
                        <a [routerLink]="[ '/' ]">
                            <img src="/Content/Images/logo-color.png" />
                        </a>
                    </div>
                    <div class="header-item order-btn-wrapper font-PFDinDisplayPro-Light">
                        <button type="button" (click)="openOrderPopup('ХОЧУ НА ОТДЫХ')" class="order-btn">ХОЧУ НА ОТДЫХ!</button>
                    </div>
                </div>
                <div class="level">
                    <div class="header-item phones font-PFDinDisplayPro-Reg">
                        <div class="phone">
                            <a href="tel:+375293688788">+375.29.368.87.88</a>
                        </div>
                        <div class="phone">
                            <a href="tel:+375333668788">+375.33.366.87.88</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="middleHeaderMenu font-PFDinDisplayPro-Light">
            <div class="mobileMenu">
                <div clickOutside
                     callbackName="onClickOutsideMobileMenu"
                     [componentContext]="this"
                     class="mobileMenu-header">
                    <a (click)="toggleMenu()">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        <span>
                            Меню
                        </span>
                    </a>
                </div>
                <ul *ngIf="isMobileMenuVisible" [@slideInOut] class="mobileMenu-list">
                    <li>
                        <a [routerLink]="[ '/countries' ]">
                            <span>Страны</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/tour' ]">
                            <span>Туры</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/hot-tours' ]">
                            <span>Горящие туры</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/promotions' ]">
                            <span>Акции</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/contacts' ]">
                            <span>Контакты</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mainMenu">
                <ul class="width-wrapper">
                    <li>
                        <a [routerLink]="[ '/countries' ]">
                            <span>Страны</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/tour' ]">
                            <span>Туры</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/promotions' ]">
                            <span>Акции</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/contacts' ]">
                            <span>Контакты</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</header>

