header {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  top: 0; }
  header .header-content {
    margin: 0 auto;
    position: relative; }
    header .header-content .topHeaderMenu .width-wrapper {
      padding: 0 15px;
      font-size: 17px; }
      header .header-content .topHeaderMenu .width-wrapper .logo {
        display: inline-block;
        padding-top: 15px;
        margin-left: 15px;
        font-size: 22px;
        width: 190px; }
        header .header-content .topHeaderMenu .width-wrapper .logo img {
          width: 180px; }
      header .header-content .topHeaderMenu .width-wrapper .separator {
        background-color: #bbb9cd;
        margin-top: 15px; }
      header .header-content .topHeaderMenu .width-wrapper .phones {
        padding-top: 15px; }
      header .header-content .topHeaderMenu .width-wrapper .address {
        padding-top: 10px; }
      header .header-content .topHeaderMenu .width-wrapper .work-time {
        padding-top: 10px; }
      header .header-content .topHeaderMenu .width-wrapper .order-btn-wrapper {
        border: 2px solid #fc3b3c;
        padding: 2px;
        font-size: 24px;
        height: 43px;
        margin-top: 17px; }
        header .header-content .topHeaderMenu .width-wrapper .order-btn-wrapper .order-btn {
          background-color: #fc3b3c;
          color: white;
          border: none;
          width: 230px;
          line-height: 35px;
          height: 35px;
          font-size: 24px; }
        header .header-content .topHeaderMenu .width-wrapper .order-btn-wrapper .order-btn:hover {
          background-color: white;
          color: #fc3b3c; }
    header .header-content .middleHeaderMenu {
      margin-top: 15px;
      font-size: 25px; }
      header .header-content .middleHeaderMenu .mobileMenu {
        display: none; }
      header .header-content .middleHeaderMenu .mainMenu {
        background: #05108a;
        padding: 3px 20px; }
        header .header-content .middleHeaderMenu .mainMenu .width-wrapper {
          display: flex;
          justify-content: space-between; }
          header .header-content .middleHeaderMenu .mainMenu .width-wrapper a {
            color: white; }
          header .header-content .middleHeaderMenu .mainMenu .width-wrapper a:hover {
            color: #feb849; }
          header .header-content .middleHeaderMenu .mainMenu .width-wrapper li {
            display: inline-block;
            vertical-align: top;
            text-align: center;
            margin: 0px 15px; }

@media (min-width: 1000px) {
  .topHeaderMenu .separator-address {
    display: block; }
  .topHeaderMenu .address {
    display: block; }
  .topHeaderMenu .separator-work-time {
    display: block; }
  .topHeaderMenu .work-time {
    display: block; } }

@media (max-width: 1000px) {
  .topHeaderMenu .separator-address {
    display: block; }
  .topHeaderMenu .address {
    display: block; }
  .topHeaderMenu .separator-work-time {
    display: none; }
  .topHeaderMenu .work-time {
    display: none; } }

@media (max-width: 850px) {
  .topHeaderMenu .separator-address {
    display: none; }
  .topHeaderMenu .address {
    display: none; }
  .topHeaderMenu .separator-work-time {
    display: none; }
  .topHeaderMenu .work-time {
    display: none; } }

@media (min-width: 600px) {
  header .header-content .topHeaderMenu {
    height: 75px; }
    header .header-content .topHeaderMenu .header-sm {
      display: flex;
      justify-content: space-between; }
    header .header-content .topHeaderMenu .header-xs {
      display: none; }
    header .header-content .topHeaderMenu .width-wrapper .separator {
      width: 1px;
      height: 50px; } }

@media (max-width: 600px) {
  header {
    position: initial; }
    header .header-content .topHeaderMenu {
      height: 100%; }
      header .header-content .topHeaderMenu .header-sm {
        display: none; }
      header .header-content .topHeaderMenu .header-xs {
        display: block; }
      header .header-content .topHeaderMenu .width-wrapper .level {
        display: block; }
        header .header-content .topHeaderMenu .width-wrapper .level .separator {
          width: 250px;
          height: 1px;
          margin: 10px auto 0 auto; }
        header .header-content .topHeaderMenu .width-wrapper .level .logo {
          display: block;
          text-align: center;
          padding-top: 50px; }
        header .header-content .topHeaderMenu .width-wrapper .level .header-item {
          padding-left: 0px;
          padding-right: 0px;
          display: block;
          margin-right: auto;
          margin-left: auto;
          width: 240px;
          text-align: center; }
    header .header-content .middleHeaderMenu {
      margin-top: 35px;
      display: block; }
      header .header-content .middleHeaderMenu a {
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
        line-height: 25px;
        padding: 0 25px;
        cursor: pointer;
        transition: font-size 0.1s; }
      header .header-content .middleHeaderMenu a:hover {
        font-size: 17px; }
      header .header-content .middleHeaderMenu .mobileMenu {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 50;
        font-weight: 700; }
        header .header-content .middleHeaderMenu .mobileMenu-header {
          width: 100%;
          background: #05108a;
          position: relative;
          height: 42px;
          line-height: 35px;
          z-index: 1000;
          border-bottom: 2px solid #fff; }
        header .header-content .middleHeaderMenu .mobileMenu-list {
          background: #05108a;
          width: 100%; }
          header .header-content .middleHeaderMenu .mobileMenu-list li {
            display: block;
            text-align: left;
            margin: 0;
            padding: 5px 0;
            border-bottom: 1px solid #fff; }
            header .header-content .middleHeaderMenu .mobileMenu-list li a {
              display: block; }
      header .header-content .middleHeaderMenu .mainMenu {
        display: none; } }
