<header>
    <div class="header-content">
        <div class="topHeaderMenu">
            <div class="width-wrapper header-md">
                <div class="header-item logo">
                    <a [routerLink]="[ '/' ]">
                        <img src="/Content/Images/logo.png" />
                    </a>
                </div>
                <div class="header-item phones font-PFDinDisplayPro-Reg">
                    <div class="phone">
                        <span>+375 (44) 444-44-44</span>
                    </div>
                    <div class="phone">
                        <span>+375 (44) 444-44-44</span>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="header-item address">
                    <h4 class="font-PFDinDisplayPro-Reg">
                        <span>Адрес</span>
                    </h4>
                    <div>
                        <div>Минск, м. Фрунзенская</div>
                        <div>Мельникайте 15, офис 505</div>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="header-item work-time">
                    <h4 class="font-PFDinDisplayPro-Reg">
                        <span>Время работы</span>
                    </h4>
                    <div>
                        <div>Будние: 10:00-20:00</div>
                        <div>Суббота: 10:00-18:00</div>
                    </div>
                </div>
                <div class="header-item order-btn-wrapper font-PFDinDisplayPro-Light">
                    <button type="button" (click)="openOrderPopup()" class="order-btn">ХОЧУ НА ОТДЫХ!</button>
                </div>
            </div>
            <div class="width-wrapper header-sm-xs">
                <div class="header-item level">
                    <div class="header-item logo">
                        <a [routerLink]="[ '/' ]">
                            <img src="/Content/Images/logo.png" />
                        </a>
                    </div>
                    <div class="header-item order-btn-wrapper font-PFDinDisplayPro-Light">
                        <button type="button" (click)="openOrderPopup()" class="order-btn">ХОЧУ НА ОТДЫХ!</button>
                    </div>
                </div>
                <div class="level">
                    <div class="header-item phones font-PFDinDisplayPro-Reg">
                        <div class="phone">
                            <span>+375 (44) 444-44-44</span>
                        </div>
                        <div class="header-item phone">
                            <span>+375 (44) 444-44-44</span>
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="header-item address">
                        <h4 class="font-PFDinDisplayPro-Reg">
                            <span>Адрес</span>
                        </h4>
                        <div>
                            <div>Минск, м. Фрунзенская</div>
                            <div>Мельникайте 15, офис 505</div>
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="header-item work-time">
                        <h4 class="font-PFDinDisplayPro-Reg">
                            <span>Время работы</span>
                        </h4>
                        <div>
                            <div>Будние: 10:00-20:00</div>
                            <div>Суббота: 10:00-18:00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="middleHeaderMenu font-PFDinDisplayPro-Light">
            <div clickOutside callbackName="onClickOutsideMobileMenu" [componentContext]="this" class="mobileMenu">
                <div class="mobileMenu-header">
                    <a (click)="toggleMenu()">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        <span>
                            Меню
                        </span>
                    </a>
                </div>
                <ul *ngIf="isMobileMenuVisible" [@slideInOut] class="mobileMenu-list">
                    <li>
                        <a [routerLink]="[ '/tour/beach' ]">
                            <span>Страны</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/tour' ]">
                            <span>Туры</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/promotions' ]">
                            <span>Акции</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>Услуги</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>Контакты</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mainMenu">
                <ul class="width-wrapper">
                    <li>
                        <a [routerLink]="[ '/tour/beach' ]">
                            <span>Страны</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/tour' ]">
                            <span>Туры</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="[ '/promotions' ]">
                            <span>Акции</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>Услуги</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>Контакты</span>
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</header>

