<div [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="order-wrapper">
  <div (click)="onNoClick()" class="cross-close">&#10005;</div>
  <div mat-dialog-title class="header">Отправить заявку</div>
  <div md-dialog-content class="content">
    <div class="control-block">
      <label>
        Представьтесь, пожалуйста
        <span class="required">*</span>
      </label>
      <div>
        <input class="form-control" formControlName="name" [(ngModel)]="order.name" type="text" />
        <div *ngIf="orderForm.controls.name.invalid && orderForm.controls.name.dirty">
          <div class="error" *ngIf="orderForm.controls.name.errors.required">
            Обязательное поле
          </div>
        </div>
      </div>
    </div>
    <div class="control-block">
      <label>
        Контактный телефон
        <span class="required">*</span>
      </label>
      <div class="phone-block">
        <input class="form-control" placeholder="8(029) 000-00-00" [textMask]="{mask: mask}" formControlName="phone" [(ngModel)]="order.phone" type="text" />
        <div *ngIf="orderForm.controls.phone.invalid && orderForm.controls.phone.dirty">
          <div class="error" *ngIf="orderForm.controls.phone.errors.required">
            Обязательное поле
          </div>
        </div>
      </div>
    </div>
    <div class="control-textarea-block">
      <label>
        Сообщение
      </label>
      <div>
        <textarea formControlName="description" [(ngModel)]="order.description"></textarea>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="actions">
    <button (click)="saveOrder()"class="btn btn-primary btn-block" [disabled]="!orderForm.valid">Отправить</button>
  </div>
</div>
