.countries-page .banner img {
  width: 100%; }

.countries-page .text-wrapper h1 {
  max-width: 720px;
  margin: 20px auto; }

.countries-page .text-wrapper .countries-short {
  column-count: 3;
  max-width: 1000px;
  margin: 0 auto; }
  .countries-page .text-wrapper .countries-short .country-short {
    padding-left: 30%;
    display: flex;
    justify-content: flex-start; }
    .countries-page .text-wrapper .countries-short .country-short .arrow {
      height: 14px;
      position: relative;
      bottom: -5px;
      margin-right: 10px; }
    .countries-page .text-wrapper .countries-short .country-short a {
      color: #1A1A1A; }
    .countries-page .text-wrapper .countries-short .country-short a:hover {
      color: #fc3b3c; }

.countries-page .text-wrapper .put-order {
  text-align: center;
  margin: 30px 0; }
  .countries-page .text-wrapper .put-order h4 {
    margin-bottom: 10px; }
  .countries-page .text-wrapper .put-order .order-btn {
    background-color: white;
    color: #fc3b3c;
    border: 1px solid #fc3b3c;
    width: 250px;
    line-height: 35px;
    font-size: 20px; }
  .countries-page .text-wrapper .put-order .order-btn:hover {
    box-shadow: 0 0 7px rgba(253, 10, 10, 0.75);
    color: white;
    background-color: #fc3b3c; }

.countries-page .text-wrapper .counties-wrapper {
  margin: 20px auto;
  max-width: 1000px; }
  .countries-page .text-wrapper .counties-wrapper .country {
    margin: 20px 0;
    border: 1px solid #F1F1F1;
    padding: 10px; }
    .countries-page .text-wrapper .counties-wrapper .country .image-description .country-image {
      display: block; }
      .countries-page .text-wrapper .counties-wrapper .country .image-description .country-image .image {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        padding-top: 50%;
        text-align: center;
        display: block; }
    .countries-page .text-wrapper .counties-wrapper .country .image-description .country-descriptions {
      margin-top: 10px;
      margin-right: 40px;
      min-width: 200px;
      max-width: 300px;
      margin-left: 20px; }
      .countries-page .text-wrapper .counties-wrapper .country .image-description .country-descriptions .country-name-link {
        text-transform: uppercase;
        font-size: 24px;
        color: #0A155F;
        font-family: OpenSans-Semibold; }
      .countries-page .text-wrapper .counties-wrapper .country .image-description .country-descriptions .country-name-link:hover {
        color: #feb849; }
      .countries-page .text-wrapper .counties-wrapper .country .image-description .country-descriptions .description {
        font-size: 14px; }
    .countries-page .text-wrapper .counties-wrapper .country .country-prices {
      margin-top: 10px;
      margin-right: 10px;
      min-width: 220px;
      max-width: 320px; }
      .countries-page .text-wrapper .counties-wrapper .country .country-prices .hotels {
        display: flex;
        justify-content: space-between;
        margin: 10px 0; }
        .countries-page .text-wrapper .counties-wrapper .country .country-prices .hotels li {
          list-style-type: none; }
        .countries-page .text-wrapper .counties-wrapper .country .country-prices .hotels .stars li {
          display: flex;
          height: 16px;
          margin: 5px 0; }
          .countries-page .text-wrapper .counties-wrapper .country .country-prices .hotels .stars li img {
            height: 100%; }
      .countries-page .text-wrapper .counties-wrapper .country .country-prices .country-btn {
        background-color: #311569;
        color: white;
        border: 1px solid #311569;
        line-height: 35px;
        font-size: 20px;
        padding: 6px 12px; }
      .countries-page .text-wrapper .counties-wrapper .country .country-prices .country-btn:hover {
        color: #311569;
        background-color: white; }
  .countries-page .text-wrapper .counties-wrapper .country:hover {
    margin-bottom: 20px;
    border: 1px solid #FFDFA2;
    box-shadow: 0 0 7px rgba(255, 223, 162, 0.75); }

.countries-page .text-wrapper .categories .categories-wrapper {
  width: 380px;
  margin: 10px auto 20px auto; }
  .countries-page .text-wrapper .categories .categories-wrapper .category {
    margin: 10px 0; }
    .countries-page .text-wrapper .categories .categories-wrapper .category a {
      color: #1A1A1A; }
      .countries-page .text-wrapper .categories .categories-wrapper .category a img {
        height: 10px;
        margin-left: 3px; }
    .countries-page .text-wrapper .categories .categories-wrapper .category a:hover {
      color: #118B91; }

@media (min-width: 1100px) {
  .country {
    display: flex;
    justify-content: space-between; } }

@media (max-width: 1100px) {
  .country {
    display: block; } }

@media (min-width: 880px) {
  .country {
    justify-content: initial; }
    .country .image-description {
      display: flex; }
      .country .image-description .country-image {
        margin-right: 40px; }
        .country .image-description .country-image .image {
          width: 340px; } }

@media (max-width: 880px) {
  .country {
    width: 100%;
    margin: 0 0 20px 0; }
    .country .image-description {
      display: block; }
      .country .image-description .country-image .image {
        width: 100%; } }
