.banner-carousel {
    max-width: 1400px;
    margin: 0 auto;

    img {
        width: 100%;
    }
}

h1 {
    max-width: 720px;
    margin: 20px auto;
    text-align: center;
}

.benefits-top {

    .benefit-top {
        display: flex;

        img {
            width: 100px;
            height: 100px;
            margin-right: 20px;
        }

        h3 {
            line-height: 100px;
        }
    }

    .benefit-bottom {
        font-family: 'OpenSans-Semibold';
    }
}

.put-order {
    text-align: center;
    margin: 30px 0;

    h4 {
        margin-bottom: 10px;
    }

    .order-btn {
        background-color: white;
        color: #fc3b3c;
        border: 1px solid #fc3b3c;
        width: 250px;
        line-height: 35px;
        font-size: 20px;
    }

    .order-btn:hover {
        box-shadow: 0 0 7px rgba(253,10,10,0.75);
        color: white;
        background-color: #fc3b3c;
    }
}

.tour-types {
    text-align: center;
    min-width: 530px;

    .tour-type {
        position: relative;
        text-align: center;
        color: white;

        .tour-type-info {
            position: absolute;
            top: 35%;
            width: 100%;
            right: 0;

            .tour-type-name {
                font-size: 28px;
                font-family: 'PFDinDisplayPro-ExtraBold', sans-serif;
            }

            .separator {
                height: 1px;
                background-color: white;
                width: 30px;
                margin: 5px auto 15px auto;
            }

            a {
                font-size: 24px;
                color: white;
                border: 2px solid white;
                padding: 2px 10px;
            }

            a:hover {
                color: #37354E;
                background-color: white;
            }
        }

        img {
            margin: 10px 0;
            width: 100%;
        }
    }
}

.benefits-bottom {

    h2 {
        text-align: center;
        max-width: 600px;
        margin: 10px auto;
    }

    .benefits-bottom-text {
        text-align: center;
    }

    .benefits {

        .benefit {
            margin: 20px 0;

            .benifit-header {
                display: flex;
                margin: 5px;

                img {
                    width: 60px;
                    height: 24px;
                    margin-right: 10px;
                }

                h3 {
                    color: #118B91;
                }
            }

            .benefit-text {
                font-size: 20px;
                font-family: OpenSans-Regular;
            }
        }

        .benefit.space {
            margin-left: 30px;
        }

        .put-order-wrapper {
            background-color: #138D90;
            color: white;
            display: flex;
            justify-content: space-between;
            padding: 15px;

            .text {
                font-size: 28px;
            }

            .order-btn {
                background-color: #fc3b3c;
                color: white;
                border: 1px solid white;
                width: 100px;
                line-height: 35px;
                font-size: 20px;
            }
        }
    }
}

.expert-from {

    .expert-img{
        width:100%;
    }
}

@media (max-width: 960px) and (min-width:600px) {
}

@media (max-width: 770px) {
    .benefits-top {

        .benefit-top {
            justify-content: center;
        }

        .benefit-bottom {
            text-align: center;
        }
    }
}
