.benefits-description {
  max-width: 1200px;
  margin: 15px 30px; }

@media (max-width: 960px) and (min-width: 600px) {
  .benefits-description {
    max-width: 700px;
    margin: 15px auto; } }

@media (max-width: 600px) {
  .benefits-description {
    margin: 0;
    width: 100%; } }

.benefits {
  max-width: 1200px;
  margin: 0 auto; }
  .benefits ul li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    width: 33%;
    margin-top: 40px; }
    .benefits ul li .benefitItemContainer {
      margin: 0 auto;
      width: 240px; }
    .benefits ul li h5 {
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 18px; }
    .benefits ul li .benTxt {
      display: inline-block;
      vertical-align: top;
      width: 220px; }
    .benefits ul li i {
      margin-right: 15px;
      margin-bottom: 10px;
      font-size: 30px;
      width: 30px; }
    @media (max-width: 600px) {
      .benefits ul li .benefitItemContainer {
        margin: 0 auto;
        width: 400px; }
      .benefits ul li .benTxt {
        width: 300px;
        margin: 10px; }
      .benefits ul li i {
        position: relative;
        top: 10px; } }
  @media (max-width: 960px) and (min-width: 600px) {
    .benefits ul li {
      width: 49%; } }
  @media (max-width: 600px) {
    .benefits ul li {
      width: 100%; } }

.services {
  max-width: 1100px;
  margin: 20px auto; }
  .services h3 {
    color: #2b2a29;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 50px;
    margin-top: -13px; }
  .services p {
    margin-top: 17px;
    font-size: 14px;
    line-height: 20px; }

.serviceList {
  max-width: 1100px;
  margin: 20px auto; }
  .serviceList h3 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px; }
  .serviceList .listContainer {
    margin: 20px 0; }
    .serviceList .listContainer .list {
      width: 49%;
      display: inline-block;
      vertical-align: top; }
      .serviceList .listContainer .list ul {
        width: 450px;
        margin: 0 auto; }
        .serviceList .listContainer .list ul li {
          list-style-type: none;
          padding-left: 30px !important;
          padding-bottom: 20px !important;
          position: relative; }
          .serviceList .listContainer .list ul li i {
            position: absolute;
            top: 5px;
            left: 0;
            font-size: 15px; }
    @media (max-width: 960px) {
      .serviceList .listContainer .list {
        width: 100%; } }

.putOrderBottom {
  margin: 30px auto;
  text-align: center;
  max-width: 900px; }
  .putOrderBottom p {
    margin: 20px; }
  .putOrderBottom .btn {
    height: 40px;
    width: 300px;
    text-transform: uppercase;
    font-size: 18px; }

