<div class="banner-carousel">
    <slideshow [height]="'300px'"
               [minHeight]="'200px'"
               [autoPlay]="true"
               [showArrows]="true"
               [imageUrls]="imageSources"
               [lazyLoad]="imageSources?.length > 1"
               [autoPlayWaitForLazyLoad]="true">
    </slideshow>
</div>
<div class="width-wrapper">
    <div class="text-wrapper">
        <div class="benefits">
            <div>
                <ul>
                    <li>
                        <div class="benefitItemContainer">
                            <i class="fa fa-money" aria-hidden="true"></i>
                            <div class="benTxt">
                                <h5>
                                    Гарантируем честные цены
                                </h5>
                                <div>
                                    Цены у нас такие же, как у туроператоров, или ниже — вы никогда не переплачиваете
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="benefitItemContainer">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <div class="benTxt">
                                <h5>
                                    Вас обслуживают лучшие специалисты
                                </h5>
                                <div>
                                    Все сотрудники имеют обширный опыт работы в сфере туризма
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="benefitItemContainer">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <div class="benTxt">
                                <h5>
                                    Круглосуточный прием заявок
                                </h5>
                                <div>
                                    Всегда на связи по телефону и в мессенджерах
                                    СМС и email информирование туристов
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="benefitItemContainer">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <div class="benTxt">
                                <h5>
                                    Оперативная поддержка туристов
                                </h5>
                                <div>
                                    Поддержка персонального менеджера во время путешествия
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="benefitItemContainer">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                            <div class="benTxt">
                                <h5>
                                    Европейские стандарты сервиса
                                </h5>
                                <div>
                                    На всех этапах работы с клиентом компания привносит европейские стандарты обслуживания и высокий уровень сервиса
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="benefitItemContainer">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            <div class="benTxt">
                                <h5>
                                    Надежность
                                </h5>
                                <div>
                                    Мы предлагаем туры только от проверенных партнеров
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="benefits-description">
            <p>
                Ваша выгода очевидна! Среди всех туристических фирм Минска, только у нас Вы сможете быстро решить все вопросы, касающиеся Вашего путешествия!
                Один Ваш звонок решит, насколько выгодное предложение достанется именно Вам.
                Позвоните нам прямо сейчас, и успейте заказать лучшие места для отдыха.
                Экономьте Ваше время в Центре туризма!
            </p>
            <p>
                График работы нашего офиса позволяет Вам выбрать путевку в любое удобное для Вас время!
                Наши менеджеры станут Вашей правой рукой и будут на связи с Вами на всех этапах Вашего путешествия.
                Наши специалисты имеют опыт работы за рубежом, поэтому с легкостью посоветуют Вам интересные места для отдыха, экскурсий и шопинга.
                Профессиональные секреты Центра туризма – гарантия Вашего удачного отдыха.
            </p>
            <p class="bold">
                ЗВОНИТЕ!МЫ ПОЙМЕМ ВАС С ПОЛУСЛОВА И ПРЕДЛОЖИМ ЛУЧШЕЕ РЕШЕНИЕ ВАШЕГО ВОПРОСА!
            </p>
        </div>

        <div class="serviceList">
            <h3>
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <span>Услуги</span>
            </h3>
            <div class="listContainer">
                <div class="left list">
                    <ul>
                        <li class="fir">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Бронирование авиабилетов по всем направлениям
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Туры и отдых в рвссрочку без переплат и
                            процентов!
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Профессиональная помощь в выборе отеля
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Оформление подарочного сертификата
                        </li>
                        <li class="las">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Трансфер в аэропорты Москвы, Киева и Вильнюса
                        </li>
                    </ul>
                </div>
                <div class="right list">
                    <ul>
                        <li class="fir">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Визовая поддержка. Помощь в оформлении виз
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Медицинское страхование для туристов
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Симкарты с бесплатными входящими звонками в роуминге
                        </li>
                        <li class="las">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Автобусные билеты. Международные маршруты
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="putOrderBottom">
    <p>
        Оставьте заявку. Мы свяжемся с вами по указанным контактам в форме
        и детально обсудим все интересующие Вас вопросы.
    </p>
    <button type="button" (click)="openOrderPopup()" class="btn btn-primary ">Отправить заявку</button>
</div>