<div class="banner-carousel">
    <div id="home-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#home-carousel" data-slide-to="1"></li>
            <li data-target="#home-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="/Content/Images/Home/MainBanner/banner1.jpg">
            </div>

            <div class="item">
                <img src="/Content/Images/Home/MainBanner/banner2.jpg">
            </div>

            <div class="item">
                <img src="/Content/Images/Home/MainBanner/banner3.jpg">
            </div>
        </div>
    </div>
</div>
<div class="width-wrapper">
    <div class="text-wrapper">
        <h1>
            С Центром организации отдыха «Travel X»
            Вы будете спокойны за свое путешествие!
        </h1>
        <div class="benefits-top">
            <div class="col-xs-12 col-sm-4">
                <div class="benefit-top">
                    <img src="/Content/Images/Home/Benefits/reliability.png" />
                    <h3>Надежность</h3>
                </div>
                <div class="benefit-bottom">
                    Ответственный подход к делу позволяет нам сотрудничать только с проверенными партнерами: от принимающих сторон
                    до визовых специалистов.
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="benefit-top">
                    <img src="/Content/Images/Home/Benefits/expertise.png" />
                    <h3>Экспертность</h3>
                </div>
                <div class="benefit-bottom">
                    Каждый наш специалист работает в туризме более 4 лет и много путешествует!
                    Такой практический опыт делает
                    Ваш отпуск легким и беззаботным.
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="benefit-top">
                    <img src="/Content/Images/Home/Benefits/speed.png" />
                    <h3>Скорость</h3>
                </div>
                <div class="benefit-bottom">
                    Доверив свое путешествие нашему эксперту, Вы значительно сэкономите время.
                    Менеджер быстро свяжется с Вами
                    и организует отдых в кратчайшие сроки.
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="put-order">
            <h4>Мы – что-то большее, чем просто бронирование тура!</h4>
            <div class="font-PFDinDisplayPro-Light">
                <button type="button" (click)="openOrderPopup('ОРГАНИЗУЙТЕ МНЕ ОТДЫХ')" class="order-btn">ОРГАНИЗУЙТЕ МНЕ ОТДЫХ</button>
            </div>
        </div>
        <div class="tour-types">
            <h2>Виды туров</h2>
            <h4 class="tour-types-text">
                Выберите интересующее Вас направление отдыха и жмите на кнопку!
                Смотрите предложения!
            </h4>
            <div class="tour-types-wrapper">
                <div class="tour-type col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="tour-type-info">
                        <div class="tour-type-name">
                            Пляжный отдых
                        </div>
                        <div class="separator">
                        </div>
                        <a [routerLink]="[ '/tour/beach' ]" class="tour-type-button-link">СМОТРЕТЬ</a>
                    </div>
                    <img src="/Content/Images/Home/TourTypes/beach.jpg" />
                </div>
                <div class="tour-type col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="tour-type-info">
                        <div class="tour-type-name">
                            Автобусные туры
                        </div>
                        <div class="separator">
                        </div>
                        <a [routerLink]="[ '/tour/bus' ]" class="tour-type-button-link">СМОТРЕТЬ</a>
                    </div>
                    <img src="/Content/Images/Home/TourTypes/bus.jpg" />
                </div>
                <div class="tour-type col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="tour-type-info">
                        <div class="tour-type-name">
                            Горнолыжный отдых
                        </div>
                        <div class="separator">
                        </div>
                        <a [routerLink]="[ '/tour/skiing' ]" class="tour-type-button-link">СМОТРЕТЬ</a>
                    </div>
                    <img src="/Content/Images/Home/TourTypes/skiing.jpg" />
                </div>
                <div class="tour-type col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="tour-type-info">
                        <div class="tour-type-name">
                            Новогодние туры
                        </div>
                        <div class="separator">
                        </div>
                        <a [routerLink]="[ '/tour/newyear' ]" class="tour-type-button-link">СМОТРЕТЬ</a>
                    </div>
                    <img src="/Content/Images/Home/TourTypes/newYear.jpg" />
                </div>
                <div class="tour-type col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="tour-type-info">
                        <div class="tour-type-name">
                            Индивидуальный отдых
                        </div>
                        <div class="separator">
                        </div>
                        <a [routerLink]="[ '/tour/individual' ]" class="tour-type-button-link">СМОТРЕТЬ</a>
                    </div>
                    <img src="/Content/Images/Home/TourTypes/individual.jpg" />
                </div>
                <div class="tour-type col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="tour-type-info">
                        <div class="tour-type-name">
                            Корпоративные туры
                        </div>
                        <div class="separator">
                        </div>
                        <a [routerLink]="[ '/tour/corporate' ]" class="tour-type-button-link">СМОТРЕТЬ</a>
                    </div>
                    <img src="/Content/Images/Home/TourTypes/corporate.jpg" />
                </div>
            </div>

        </div>
        <div class="put-order">
            <h4>Какое бы направление отдыха Вы ни выбрали, мы всегда будем рядом, чтоб помочь Вам в поиске тура!</h4>
            <div class="font-PFDinDisplayPro-Light">
                <button type="button" (click)="openOrderPopup('НАЙДИТЕ МНЕ ТУР!')" class="order-btn">
                    НАЙДИТЕ МНЕ ТУР!
                </button>
            </div>
        </div>
        <div class="benefits-bottom">
            <h2>
                Центр организации отдыха «Travel X»
                отличается от других турфирм и турагентств Минска
            </h2>
            <h4 class="benefits-bottom-text">
                Чем именно? Читайте!
            </h4>
            <div class="benefits">
                <div class="benefit space">
                    <div class="benifit-header">
                        <img src="/Content/Images/Home/arrows.png" />
                    </div>
                    <div class="benefit-text">
                        <div>
                            Давайте о выгодах!
                        </div>
                        <div>
                            Бронируя путевку у нас, Вы экономите до 29% своего бюджета. За счет прямых соглашений
                            с авиакомпаниями и отелями мы получаем дополнительные бонусы, с которыми впоследствии
                            делимся с Вами.
                        </div>
                    </div>
                </div>
                <div class="benefit">
                    <div class="benifit-header">
                        <img src="/Content/Images/Home/arrows.png" />
                        <h3>Все предложения в одном месте</h3>
                    </div>
                    <div class="benefit-text">
                        <div>
                            Поговорим об актуальном!
                        </div>
                        <div>
                            В нашей базе более 16 300 туров, которые ежедневно обновляются. Широкое разнообразие предложений позволит специалистам найти подходящий именно Вам вариант перелета, проживания и питания.
                        </div>
                    </div>
                </div>
                <div class="put-order-wrapper">
                    <div class="text font-Akrobat-ExtraBold">Забронировать тур прямо сейчас</div>
                    <button type="button" (click)="openOrderPopup('ДА!')" class="order-btn">ДА!</button>
                </div>
                <div class="benefit space">
                    <div class="benifit-header">
                        <img src="/Content/Images/Home/arrows.png" />
                        <h3>Индивидуальный конструктор тура</h3>
                    </div>
                    <div class="benefit-text">
                        <div>Тут все просто!</div>
                        <div>
                            Вы сочиняете свой идеальный маршрут, а мы воплощаем его в жизнь.
                            Поделитесь своими идеями к поездке, и тур будет подобран согласно Вашим ожиданиям.
                        </div>
                    </div>
                </div>
                <div class="benefit">
                    <div class="benifit-header">
                        <img src="/Content/Images/Home/arrows.png" />
                        <h3>Долгосрочные отношенияx</h3>
                    </div>
                    <div class="benefit-text">
                        <div>Добавим щепотку душевности!</div>
                        <div>
                            Мы остаемся с Вами не только на протяжении поездки, но и далеко после. Акцент на качество – это именно та вещь, которую ставит во главе своей работы каждый сотрудник нашей компании.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>