<div class="width-wrapper">
    <div class="tours-wrapper">
        <div>
            <div [formGroup]="tourForm" class="tour">
                <div class="row">
                    <div class="col-md-6 col-sm-6 tour-descriptions">
                        <div class="control-section">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Название</span>
                                <span class="required">*</span>
                            </div>
                            <input type="text"
                                   name="name"
                                   class="form-control"
                                   formControlName="name"
                                   [(ngModel)]="tour.name"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="control-section">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Название для строки запроса(латиницей)</span>
                                <span class="required">*</span>
                            </div>
                            <input type="text"
                                   name="urlName"
                                   class="form-control"
                                   formControlName="urlName"
                                   [(ngModel)]="tour.urlName"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="control-section">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Город</span>
                                <span class="required">*</span>
                            </div>
                            <input type="text"
                                   name="city"
                                   class="form-control"
                                   formControlName="city"
                                   [(ngModel)]="tour.city"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="control-section">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Цена
                                </span>
                                <span class="required">*</span>
                            </div>
                            <input type="number"
                                   name="price"
                                   class="form-control"
                                   formControlName="price"
                                   [(ngModel)]="tour.price"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="control-section">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Перелет включен
                                </span>
                            </div>
                            <input type="checkbox"
                                   name="price"
                                   formControlName="isFlightIncluded"
                                   [(ngModel)]="tour.isFlightIncluded"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 tour-prices">
                        <div class="control-section">
                            <div class="input-group-prepend">
                                <span class="input-group-text stars">
                                    X<span class="s"></span>
                                </span>
                                <span class="required">*</span>
                            </div>
                            <input type="number"
                                   name="stars"
                                   class="form-control"
                                   formControlName="stars"
                                   [(ngModel)]="tour.stars"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="control-section">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Ночей</span>
                                <span class="required">*</span>
                            </div>
                            <input type="number"
                                   name="nights"
                                   class="form-control"
                                   formControlName="nights"
                                   [(ngModel)]="tour.nights"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="control-section">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Категория</span>
                                <span class="required">*</span>
                            </div>
                            <mat-select formControlName="category"
                                        [(ngModel)]="tour.category"
                                        (selectionChange)="onChangeCategory()"
                                        placeholder="Выберите...">
                                <mat-option *ngFor="let tourTypeKey of tourTypes.keys()" [value]="tourTypeKey">
                                    {{ tourTypes[tourTypeKey] }}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="control-section">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Страна</span>
                                <span class="required">*</span>
                            </div>
                            <mat-select formControlName="country"
                                        [(ngModel)]="tour.country"
                                        [disabled]="isCountrySelectDisabled()"
                                        placeholder="Выберите...">
                                <mat-option *ngFor="let countryKey of countries.keys()" [value]="countryKey">
                                    {{ countries[countryKey] }}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
                <div class="tour-image">
                    <div class="small-images" *ngFor="let imageUrl of tour.oldImageCollection">
                        <a [style.background]="'url(' + '/api/image/' + imageUrl + ')'">
                            <div (click)="removeOldImage(imageUrl)" class="cross-close">&#10005;</div>
                        </a>
                    </div>
                    <div class="small-images" *ngFor="let imageUrl of tour.newImageCollection">
                        <a [style.background]="'url(' + imageUrl + ')'">
                            <div (click)="removeNewImage(imageUrl)" class="cross-close">&#10005;</div>
                        </a>
                    </div>
                    <br/>
                    <a class="link-medium">
                        <label class="upload-mage">
                            <span>Загрузить изображение</span>
                            <input type="file" (change)="onSelectImage($event)">
                        </label>
                    </a>
                </div>
                <div class="content-fields">
                    <div class="control-section">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Описание</span>
                        </div>
                        <ckeditor name="tourDescription"
                                  editorUrl="{{ckeditorService.ckeditorUrl}}"
                                  formControlName="description"
                                  [(ngModel)]="tour.description"></ckeditor>
                    </div>
                </div>
                <div class="actions">
                    <button (click)="saveTour()"
                            class="btn btn-primary"
                            [disabled]="!tourForm.valid">
                        Сохранить
                    </button>
                    <button (click)="navigateToTours()"
                            class="btn btn-secondary">
                        Отменить
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
