.counties-wrapper {
  margin: 0 20px; }
  .counties-wrapper .country {
    margin-bottom: 20px; }
    .counties-wrapper .country .input-group {
      width: 100%; }
      .counties-wrapper .country .input-group .form-control {
        width: 100%; }
    .counties-wrapper .country .country-descriptions {
      margin-top: 10px;
      min-width: 200px; }
      .counties-wrapper .country .country-descriptions a.link-big i {
        font-size: 19px; }
    .counties-wrapper .country .country-prices {
      margin-top: 10px; }
      .counties-wrapper .country .country-prices .hotels {
        margin-bottom: 10px; }
        .counties-wrapper .country .country-prices .hotels .stars {
          margin-right: 5px; }
          .counties-wrapper .country .country-prices .hotels .stars .s {
            background-image: url(/content/images/star.svg);
            background-position: 14px 14px;
            width: 14px;
            height: 14px;
            display: inline-block;
            margin-top: 2px; }
    .counties-wrapper .country .country-image {
      margin-top: 10px; }
      .counties-wrapper .country .country-image img {
        width: 340px;
        height: 250px; }
    .counties-wrapper .country .content-fields .country-description {
      height: 100px; }
    .counties-wrapper .country .content-fields .country-content {
      height: 150px; }

