<div class="width-wrapper">
    <div class="counties-wrapper">
        <div>
            <div [formGroup]="countryForm" class="country">
                <div class="row">
                    <div class="col-md-6 col-sm-6 country-descriptions">
                        <div class="mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Название</span>
                                <span class="required">*</span>
                            </div>
                            <input type="text" name="countryName" class="form-control" aria-describedby="basic-addon1">
                        </div>
                        <div class="mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Название для строки запроса(латиницей)</span>
                                <span class="required">*</span>
                            </div>
                            <input type="text" name="countryUrlName" class="form-control" aria-describedby="basic-addon1">
                        </div>
                        <div class="mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Категория</span>
                                <span class="required">*</span>
                            </div>
                            <mat-select formControlName="category" [(ngModel)]="category" placeholder="Выберите...">
                                <mat-option *ngFor="let tourTypeKey of tourTypes.keys()" [value]="tourTypeKey">
                                    {{ tourTypes[tourTypeKey] }}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 country-prices">
                        <div class="hotels">
                            <div class="mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text stars">
                                        <span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span>
                                    </span>
                                    <span class="required">*</span>
                                </div>
                                <input type="number" name="fiveStarsPrice" class="form-control" aria-describedby="basic-addon1">
                            </div>
                            <div class="mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text stars">
                                        <span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span>
                                    </span>
                                    <span class="required">*</span>
                                </div>
                                <input type="number" name="fourStarsPrice" class="form-control" aria-describedby="basic-addon1">
                            </div>
                            <div class="mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text stars">
                                        <span class="s"></span><span class="s"></span><span class="s"></span>
                                    </span>
                                    <span class="required">*</span>
                                </div>
                                <input type="number" name="threeStarsPrice" class="form-control" aria-describedby="basic-addon1">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="country-image">
                    <div class="small-images" *ngFor="let imageUrl of imagesUrls">
                        <a [style.background]="'url(' + imageUrl + ')'">
                            <div (click)="removeImage(imageUrl)" class="cross-close">&#10005;</div>
                        </a>
                    </div>

                    <br />
                    <a class="link-medium">
                        <label class="upload-mage">
                            <span>Загрузить изображение</span>
                            <input type="file" (change)="onSelectImage($event)">
                        </label>
                    </a>
                </div>
                <div class="content-fields">
                    <div class="mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Описание</span>
                            <span class="required">*</span>
                        </div>
                        <textarea type="text" name="countryDescription" class="form-control country-description" aria-describedby="basic-addon1"></textarea>
                    </div>
                    <div class="mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Контент для страницы</span>
                            <span class="required">*</span>
                        </div>
                        <textarea type="text" name="countryContent" class="form-control country-content" aria-describedby="basic-addon1"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
