.counties-wrapper {
    margin: 0 20px;

    .country {
        margin-bottom: 20px;

        .input-group {
            width: 100%;

            .form-control {
                width: 100%;
            }
        }

        .country-descriptions {
            margin-top: 10px;
            min-width: 200px;

            a.link-big {

                i {
                    font-size: 19px;
                }
            }
        }

        .country-prices {
            margin-top: 10px;

            .hotels {
                margin-bottom: 10px;

                .stars {
                    margin-right: 5px;

                    .s {
                        background-image: url(/content/images/star.svg);
                        background-position: 14px 14px;
                        width: 14px;
                        height: 14px;
                        display: inline-block;
                        margin-top: 2px;
                    }
                }
            }
        }

        .country-image {
            margin-top: 10px;

            img {
                width: 340px;
                height: 250px;
            }
        }

        .content-fields {

            .country-description{
                height: 100px;
            } 

            .country-content {
                height:150px;
            }
        }
    }
}


@media (min-width: 850px) {
    .country {
        
    }
}

@media (max-width: 850px) {
    .country {
        
    }
}

@media (min-width: 600px) {
    .country {

    }
}

@media (max-width: 600px) {
    .country {
        


    }
}
