<div class="text-wrapper">
    <div class="contacts-page">
        <h1 class="center">Контактная информация</h1>
        <div class="contacts-top">
            <img class="contact-top-image" src="/Content/Images/Contacts/banner.jpg" />
            <div class="communicate">
                <div class="communicate-item">
                    <h4>Звоните нам!</h4>
                    <div class="font-OpenSans-Semibold">
                        <div>
                            <a href="tel:+375293688788">
                                <span class="phone-code">+375 (29) </span>368-87-88
                            </a>
                        </div>
                        <div>
                            <a href="tel:+375333668788">
                                <span class="phone-code">+375 (33) </span>366-87-88
                            </a>

                        </div>
                        <div>
                            <a href="tel:+375173421907">
                                <span class="phone-code">+375 (17) </span>342-19-07
                            </a>
                        </div>
                    </div>
                </div>
                <div class="communicate-item">
                    <h4>Пишите нам!</h4>
                    <div class="font-OpenSans-Semibold">
                        <div>info@travelx.by</div>
                    </div>
                </div>
                <div class="communicate-item">
                    <h4>Добавляйтесь к нам в соцсетях!</h4>
                    <div>

                        <a class="vk-link" href="https://www.vk.com" target="_blank"
                           onmouseover="document.getElementsByClassName('vk-contact-img')[0].src = '/Content/Images/Contacts/vk-active.png';"
                           onmouseout="document.getElementsByClassName('vk-contact-img')[0].src = '/Content/Images/Contacts/vk.png';">
                            <img class="vk-contact-img social" src="/Content/Images/Contacts/vk.png" />
                        </a>


                        <a class="inst-link" href="https://www.instagram.com/travelx.by/" target="_blank"
                           onmouseover="document.getElementsByClassName('inst-contact-img')[0].src = '/Content/Images/Contacts/inst-active.png';"
                           onmouseout="document.getElementsByClassName('inst-contact-img')[0].src = '/Content/Images/Contacts/inst.png';">
                            <img class="inst-contact-img social" src="/Content/Images/Contacts/inst.png" />
                        </a>


                        <a class="fb-link" href="https://www.facebook.com/travelx.by/" target="_blank"
                           onmouseover="document.getElementsByClassName('fb-contact-img')[0].src = '/Content/Images/Contacts/fb-active.png';"
                           onmouseout="document.getElementsByClassName('fb-contact-img')[0].src = '/Content/Images/Contacts/fb.png';">
                            <img class="fb-contact-img social" src="/Content/Images/Contacts/fb.png" />
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <img class="separator" src="/Content/Images/Contacts/separator.png" />
        <div class="contacts-bottom">
            <div class="location-info">
                <h4>Приходите к нам!</h4>
                <div class="location-info-item">
                    <div class="headline font-OpenSans-Semibold">
                        Адрес:
                    </div>
                    <div class="address">
                        <div>Минск, <img src="/Content/Images/Contacts/underground.png" /> Фрунзенская</div>
                        <div>Мельникайте 4, оф. 509</div>
                        <div>5 этаж</div>
                    </div>
                </div>
                <div class="location-info-item">
                    <div class="headline font-OpenSans-Semibold">
                        Время работы:
                    </div>
                    <div>
                        <div>Будние:  10.00 - 20.00</div>
                        <div>Суббота: 10.00 - 18.00</div>
                    </div>
                </div>
            </div>
            <div class="map">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A35d937cce4fb375ac2d0461ee29dad021b7a95f1930f59c88843affd078da60d&amp;source=constructor" width="840" height="340" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

