footer {
  background-color: #181e45;
  border-top: 15px solid #feb849;
  color: white;
  padding: 30px 10px;
  font-size: 16px; }
  footer .width-wrapper .separator {
    background-color: #6471c5; }
  footer .width-wrapper .footer-top {
    display: flex;
    justify-content: space-between; }
    footer .width-wrapper .footer-top .footer-left .logo {
      margin-bottom: 25px; }
      footer .width-wrapper .footer-top .footer-left .logo img {
        width: 180px; }
    footer .width-wrapper .footer-top .footer-left .footerContact {
      padding-left: 30px; }
      footer .width-wrapper .footer-top .footer-left .footerContact div {
        margin-top: 10px; }
    footer .width-wrapper .footer-top .footer-right {
      display: flex;
      justify-content: space-between;
      width: 60%; }
      footer .width-wrapper .footer-top .footer-right .footer-right-column {
        margin: 0 10px; }
        footer .width-wrapper .footer-top .footer-right .footer-right-column li {
          margin-top: 10px; }
      footer .width-wrapper .footer-top .footer-right h5 {
        font-size: 18px; }
      footer .width-wrapper .footer-top .footer-right .separator-vertical {
        width: 1px;
        height: 180px; }
      footer .width-wrapper .footer-top .footer-right .tours h5 {
        color: #feb849; }
      footer .width-wrapper .footer-top .footer-right .social img {
        width: 25px; }
      footer .width-wrapper .footer-top .footer-right .social .vk-link:hover, footer .width-wrapper .footer-top .footer-right .social .fb-link:hover {
        color: #2b9bff; }
      footer .width-wrapper .footer-top .footer-right .social .inst-link:hover {
        color: #d862ff; }
  footer .width-wrapper .separator-horizontal {
    width: 100%;
    height: 1px;
    margin: 15px 0; }
  footer .width-wrapper .footer-bottom {
    display: flex;
    justify-content: space-between; }
    footer .width-wrapper .footer-bottom .footer-right {
      text-align: right; }
  footer .width-wrapper ul {
    list-style-type: none; }
  footer .width-wrapper a {
    color: white; }
  footer .width-wrapper a:hover {
    color: #feb849; }

@media (min-width: 600px) {
  footer .footer-top .footer-right .separator:first-child {
    display: block; }
  footer .footer-top .footer-right .promotions {
    display: block; } }

@media (max-width: 600px) {
  footer .footer-top .footer-right .separator:first-child {
    display: none; }
  footer .footer-top .footer-right .promotions {
    display: none; } }
