<footer class="font-PFDinDisplayPro-Light">
    <div class="width-wrapper">
        <div class="footer-top">
            <div class="footer-left">
                <div class="logo">
                    <a [routerLink]="[ '/' ]">
                        <img src="/Content/Images/logo-white.png" />
                    </a>
                </div>
                <div class="footerContact">
                    <div><a href="tel:+375293688788">+375 (29) 368-87-88</a></div>
                    <div><a href="tel:+375333668788">+375 (33) 366-87-88</a></div>
                    <div><a href="tel:+375173421907">+375 (17) 342-19-07</a></div>

                    <div class="separator separator-horizontal"></div>

                    <div>Минск, ст.м. Фрунзенская</div>
                    <div>Мельникайте 4, офис 509</div>

                    <div class="separator separator-horizontal"></div>

                    <div>Будние: 10:00-20:00</div>
                    <div>Суббота: 10:00-18:00</div>
                </div>
            </div>
            <div class="footer-right">
                <div class="tours footer-right-column">
                    <h5>
                        ТУРЫ И ПУТЕВКИ
                    </h5>
                    <ul>
                        <li>
                            <a [routerLink]="[ '/tour' ]">
                                Поиск тура
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="[ '/tour/beach' ]">
                                Отдых на море
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="[ '/tour/bus' ]">
                                Автобусные маршруты
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="[ '/tour/beach' ]">
                                Семейный отдых
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="separator separator-tours separator-vertical"></div>
                <div class="promotions footer-right-column">
                    <h5>
                        АКЦИИ
                    </h5>
                    <ul class="footerMenu">
                        <li>
                            <a [routerLink]="[ '/hot-tours' ]">
                                Горящие Туры
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="[ '/early-booking' ]">
                                Раннее Бронирование
                            </a>
                        </li>
                        <li>
                            <a (click)="openOrderPopup('Подарочный сертификат')">
                                Подарочный сертификат
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="separator separator-promotions separator-vertical"></div>
                <div class="social footer-right-column">
                    <h5>
                        МЫ В СОЦСЕТЯХ
                    </h5>
                    <ul class="footerMenu">
                        <li>
                            <a class="vk-link" href="https://www.vk.com" target="_blank"
                               onmouseover="document.getElementsByClassName('vk-img')[0].src = '/Content/Icons/vk_ak.png';"
                               onmouseout="document.getElementsByClassName('vk-img')[0].src = '/Content/Icons/vk_neak.png';">
                                <img class="vk-img" src="/Content/Icons/vk_neak.png" />
                                <span>Вконтакте</span>
                            </a>
                        </li>
                        <li>
                            <a class="inst-link" href="https://www.instagram.com/travelx.by/" target="_blank"
                               onmouseover="document.getElementsByClassName('inst-img')[0].src = '/Content/Icons/Insta_ak.png';"
                               onmouseout="document.getElementsByClassName('inst-img')[0].src = '/Content/Icons/Insta_neak.png';">
                                <img class="inst-img" src="/Content/Icons/Insta_neak.png" />
                                <span>Instagram</span>
                            </a>
                        </li>
                        <li>
                            <a class="fb-link" href="https://www.facebook.com/travelx.by/" target="_blank"
                               onmouseover="document.getElementsByClassName('fb-img')[0].src = '/Content/Icons/fb_ak.png';"
                               onmouseout="document.getElementsByClassName('fb-img')[0].src = '/Content/Icons/fb_neak.png';">
                                <img class="fb-img" src="/Content/Icons/fb_neak.png" />
                                <span>Facebook</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="separator separator-horizontal"></div>
        <div class="footer-bottom">
            <div class="footer-left">
                <div>ООО "Центр организации отдыха Тревел Икс" 2018</div>
                <div>Все права защищены.</div>
            </div>
            <div class="footer-right">
                <div>Разработка сайта: Андрей Величко</div>
                <div>Дизайн: Анастасия Азроян</div>
            </div>
        </div>
    </div>
</footer>