.countries-short {
  column-count: 3;
  max-width: 1000px;
  margin: 0 auto; }
  .countries-short .country-short {
    display: flex;
    justify-content: flex-start;
    padding-left: 30%; }
    .countries-short .country-short .arrow {
      height: 14px;
      position: relative;
      bottom: -5px;
      margin-right: 10px; }
    .countries-short .country-short a {
      color: #1A1A1A; }
    .countries-short .country-short a:hover {
      color: #fc3b3c; }
