<div class="width-wrapper">
    <div class="text-wrapper tour-text">
        Что нужно для отличного отдыха? Море, солнце, великолепный сервис в отелях, предлагающих удобную систему «все включено», обширная развлекательная программа, умопомрачительные ночные дискотеки, лучшие блюда национальной кухни дарят путешественникам лучшие дни отдыха под жарким солнцем.
    </div>
    <div class="tours-wrapper">
        <div class="tour">
            <div class="image-description">
                <div class="tour-image">
                    <img (click)="openImagesPopup()" class="counrty-image" src="/Content/Images/tour_category_test1.jpg" />
                </div>
                <div class="tour-descriptions">
                    <div class="stars">
                        <span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span>
                    </div>
                    <a class="link-big">BEST WESTERN KUTA VILLA</a>
                    <div>City</div>
                    <ul>
                        <li>Рядом с ТЦ и ресторанами</li>
                        <li>Просторные оборудованные номера</li>
                        <li>Прокат автомобилей</li>
                    </ul>
                </div>
            </div>
            <div class="tour-prices">
                <div>
                    <div>от <strong>1 998,00 р.</strong></div>
                    <div>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <span>от 7 ночей</span>
                    </div>
                    <div>
                        <i class="fa fa-plane" aria-hidden="true"></i>
                        <span>перелет включен</span>
                    </div>
                </div>
                <a class="btn btn-info">Подробнее</a>
            </div>
        </div>
        <div class="tour">
            <div class="image-description">
                <div class="tour-image">
                    <a (click)="openImagesPopup()">
                        <img class="counrty-image" src="/Content/Images/tour_category_test1.jpg" />
                    </a>                  
                </div>
                <div class="tour-descriptions">
                    <div class="stars">
                        <span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span><span class="s"></span>
                    </div>
                    <a (click)="openOrderPopup()" class="link-big">BEST WESTERN KUTA VILLA</a>
                    <div>City</div>
                    <ul>
                        <li>Рядом с ТЦ и ресторанами</li>
                        <li>Просторные оборудованные номера</li>
                        <li>Прокат автомобилей</li>
                    </ul>
                </div>
            </div>
            <div class="tour-prices">
                <div>
                    <div>от <strong>1 998,00 р.</strong></div>
                    <div>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <span>от 7 ночей</span>
                    </div>
                    <div>
                        <i class="fa fa-plane" aria-hidden="true"></i>
                        <span>перелет включен</span>
                    </div>
                </div>
                <a (click)="openOrderPopup()" class="btn btn-info">Подробнее</a>
            </div>
        </div>
    </div>
</div>
