<div class="banner"
     [style.background]="'url(/Content/Images/EarlyBooking/banner.jpg)'">
</div>
<div class="width-wrapper">
    <div class="early-countries-page">
        <div class="text-wrapper">
            <h1 class="center">Раннее Бронирование туров 2019</h1>
            <div class="countries-short font-OpenSans-Semibold">
                <div class="country-short" *ngFor="let country of countryCollection">
                    <img class="arrow" src="/Content/Images/Countries/orange-arr.png" />
                    <a [routerLink]="[ '/early-booking/' + country.urlName ]"
                       class="country-name-link">
                        <span [innerHtml]="country.name"></span>
                    </a>
                </div>
            </div>
            <div class="center">
                <div>
                    <h4>Все особо выгодные предложения по Акции «Раннее Бронирование туров» Вы найдете тут.</h4>
                </div>
                <div>
                    <h4> Смотрите предложения по странам!</h4>
                </div>
            </div>

            <div class="center">
                <img src="/Content/Images/Hot/arrows.png" />
            </div>
            <div class="counties-wrapper">
                <div class="country" *ngFor="let country of countryCollection">
                    <div class="image-description">
                        <div class="country-image">
                            <a [routerLink]="[ '/early-booking/' + country.urlName ]"
                               class="image"
                               [style.background]="'url(/api/image/' + country.oldImageCollection[0] + ')'">
                            </a>
                        </div>
                        <div class="country-descriptions">
                            <a [routerLink]="[ '/early-booking/' + country.urlName ]"
                               class="country-name-link">
                                <span [innerHtml]="country.name"></span>
                            </a>
                            <div class="description font-OpenSans-Regular" [innerHtml]="country.description"></div>
                        </div>
                    </div>
                    <div class="country-prices">
                        <h4>Отели:</h4>
                        <div class="hotels">
                            <div class="stars">
                                <ul>
                                    <li>
                                        <img src="/Content/Images/star.png" />
                                        <img src="/Content/Images/star.png" />
                                        <img src="/Content/Images/star.png" />
                                        <img src="/Content/Images/star.png" />
                                        <img src="/Content/Images/star.png" />
                                    </li>
                                    <li>
                                        <img src="/Content/Images/star.png" />
                                        <img src="/Content/Images/star.png" />
                                        <img src="/Content/Images/star.png" />
                                        <img src="/Content/Images/star.png" />
                                    </li>
                                    <li>
                                        <img src="/Content/Images/star.png" />
                                        <img src="/Content/Images/star.png" />
                                        <img src="/Content/Images/star.png" />
                                    </li>
                                </ul>
                            </div>
                            <div class="price font-OpenSans-Semibold">
                                <ul>
                                    <li>от <span [innerHtml]="country.fiveStarsPrice"></span> BYN</li>
                                    <li>от <span [innerHtml]="country.fourStarsPrice"></span> BYN</li>
                                    <li>от <span [innerHtml]="country.threeStarsPrice"></span> BYN</li>
                                </ul>
                            </div>
                        </div>
                        <a [routerLink]="[ '/early-booking/' + country.urlName ]"
                           class="country-btn">СМОТРЕТЬ</a>
                    </div>
                </div>
            </div>

            <div class="bottom-text">
                <div>
                    Да, Вы можете наспех собрать чемодан и махнуть в отпуск по <a [routerLink]="[ '/hot-tours' ]">Горящим предложениям.</a>
                </div>
                <div>
                    Но эта возможность практически исключена в высокий сезон, праздники и предшествующие им дни
                </div>
                <div>
                    Поэтому агенты «Travel X» рекомендуют подумать об отдыхе заблаговременно и воспользоваться Акцией «Раннее Бронирование туров».
                </div>
                <div class="not-argument">
                    Не аргумент? Тогда читайте список доказательств!
                </div>
            </div>

            <div class="early-benefits row">
                <img class="hidden-xs col-sm-6" src="/Content/Images/EarlyBooking/benefits.png" />
                <div class="col-xs-12 col-sm-6">
                    <h2>Реальные выгоды Раннего Бронирования для Вас:</h2>
                    <div class="separator"></div>
                    <div class="benefit">
                        <span class="tour-benefit-header">
                            Фиксированная стоимость.
                        </span>
                        После полной оплаты путевки сумма становится неизменной. Благополучно забудьте про скачки валютного курса!
                    </div>
                    <div class="benefit">
                        <span class="early-benefit-header">
                            Полная свобода выбора.
                        </span>
                        Бронируя отдых заранее, у Вас есть возможность попасть в популярный отель, который будет недоступен в разгар сезона из-за высоко спроса. Дерзайте!
                    </div>
                    <div class="benefit">
                        <span class="early-benefit-header">
                            Широкий ассортимент предложений.
                        </span>
                        Покупая тур за несколько месяцев до отдыха, Вы выбираете понравившийся вариант из огромного списка дат и отелей. Любой Ваш каприз!
                    </div>
                    <div class="benefit">
                        <span class="early-benefit-header">
                            Выгода до 49%.
                        </span>
                        С Акцией «Раннее Бронирование» Ваша экономия достигнет максимальных размеров –
                        до половины от стоимости путевки!
                    </div>
                    <div class="benefit">
                        <span class="early-benefit-header">
                            Дополнительные бонусы.
                        </span>
                        На ранних этапах бронирования отели и авиакомпании существенно снижают тарифы, а также не скупятся на бонусы. Воспользуйтесь этим и Вы!
                    </div>
                </div>
            </div>

            <div class="put-order center font-PFDinDisplayPro-Light">
                <button type="button" (click)="openOrderPopup('Оставить заявку')" class="order-btn">
                    ВЫГОДНО КУПИТЬ ТУР
                </button>
            </div>
        </div>
    </div>
</div>

