<div class="banner"
     [style.background]="'url(/Content/Images/Countries/banner.jpg)'">
    <div class="banner-content">
        <div class="banner-content-center">
            <div class="banner-head font-Akrobat-ExtraBold">
                <div>
                    Найдите свое нарпавление для отдыха
                </div>
                <div>
                    из 12 000+ сценариев приключений.
                </div>
            </div>
        </div>
        <div class="banner-content-bottom font-OpenSans-Regular">
            <div>Да начнется веселье!</div>
            <img class="arrow-down" src="/Content/Images/arrow-white-down.png"/>
        </div>
    </div>
</div>
<div class="width-wrapper">
    <div class="countries-page">
        <div class="text-wrapper">
            <h1 class="center">Популярные страны для отдыха</h1>
            <countryShortListComponent [countryCollection]="countryCollection"></countryShortListComponent>
            <div class="put-order center">
                <div>
                    <h4>Вы уже знаете, что конкретно хотите? Или наоборот, не нашли в списке нужной Вам страны?</h4>
                </div>
                <div>
                    <h4>Просто подмигните нашему специалисту, и он будет знать, что Вам нужна профессиональная помощь.</h4>
                </div>
                <div class="font-PFDinDisplayPro-Light">
                    <button type="button" (click)="openOrderPopup('ПОДМИГНУТЬ')" class="order-btn">
                        ПОДМИГНУТЬ
                    </button>
                </div>
            </div>

            <h2 class="center">Цены на отдых 2020</h2>
            <div class="counties-wrapper">
                <div *ngFor="let country of countryCollection">
                    <countryComponent [country]="country"></countryComponent>
                </div>
            </div>
            <div class="categories">
                <h2 class="center">В каталоге предложений «Travel X» Вы найдете:</h2>
                <div class="categories-wrapper font-OpenSans-Semibold">
                    <div class="category">
                        <a (click)="openOrderPopup('горящие путевки на море')">горящие путевки на море<img src="/Content/Images/Countries/blue-arr-big.png" /></a>
                    </div>
                    <div class="category">
                        <a (click)="openOrderPopup('экскурсионные маршруты по Европе')">экскурсионные маршруты по Европе<img src="/Content/Images/Countries/blue-arr-big.png" /></a>
                    </div>
                    <div class="category">
                        <a (click)="openOrderPopup('идеи для свадебных туров')">идеи для свадебных туров<img src="/Content/Images/Countries/blue-arr-big.png" /></a>
                    </div>
                    <div class="category">
                        <a [routerLink]="[ '/tour/beach' ]">экзотические направления<img src="/Content/Images/Countries/blue-arr-big.png" /></a>
                    </div>
                    <div class="category">
                        <a [routerLink]="[ '/tour/corporate' ]">корпоративные поездки<img src="/Content/Images/Countries/blue-arr-big.png" /></a>
                    </div>
                    <div class="category">
                        <a [routerLink]="[ '/tour/individual' ]">путешествия по индивидуальному сценарию<img src="/Content/Images/Countries/blue-arr-big.png" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

