.early-countries-page {
    .banner {

        img {
            width: 100%;
        }
    }

    .text-wrapper {

        h1 {
            max-width: 720px;
            margin: 20px auto;
        }

        .countries-short {
            column-count: 3;
            max-width: 1000px;
            margin: 30px auto;

            .country-short {
                padding-left: 30%;
                display: flex;
                justify-content: flex-start;

                .arrow {
                    height: 14px;
                    position: relative;
                    bottom: -5px;
                    margin-right: 10px;
                }

                a {
                    color: #1A1A1A;
                }

                a:hover {
                    color: #fc3b3c;
                }
            }
        }

        .put-order {
            text-align: center;
            margin: 30px 0;

            h4 {
                margin-bottom: 10px;
            }

            .order-btn {
                background-color: white;
                color: #fc3b3c;
                border: 1px solid #fc3b3c;
                width: 250px;
                line-height: 35px;
                font-size: 20px;
            }

            .order-btn:hover {
                box-shadow: 0 0 7px rgba(253,10,10,0.75);
                color: white;
                background-color: #fc3b3c;
            }
        }

        .counties-wrapper {
            margin: 20px auto;
            max-width: 1000px;

            .country {
                margin: 20px 0;
                border: 1px solid #F1F1F1;
                padding: 10px;

                .image-description {

                    .country-image {
                        display: block;

                        .image {
                            background-size: cover !important;
                            background-repeat: no-repeat !important;
                            background-position: center !important;
                            padding-top: 50%;
                            text-align: center;
                            display: block;
                        }
                    }

                    .country-descriptions {
                        margin-top: 10px;
                        margin-right: 40px;
                        min-width: 200px;
                        max-width: 300px;
                        margin-left: 20px;

                        .country-name-link {
                            text-transform: uppercase;
                            font-size: 24px;
                            color: #0A155F;
                            font-family: OpenSans-Semibold;
                        }

                        .country-name-link:hover {
                            color: #feb849;
                        }

                        .description {
                            font-size: 14px;
                        }
                    }
                }

                .country-prices {
                    margin-top: 10px;
                    margin-right: 10px;
                    min-width: 220px;
                    max-width: 320px;

                    .hotels {
                        display: flex;
                        justify-content: space-between;
                        margin: 10px 0;

                        li {
                            list-style-type: none;
                        }

                        .stars {
                            li {
                                display: flex;
                                height: 16px;
                                margin: 5px 0;

                                img {
                                    height: 100%;
                                }
                            }
                        }
                    }

                    .country-btn {
                        background-color: #311569;
                        color: white;
                        border: 1px solid #311569;
                        line-height: 35px;
                        font-size: 20px;
                        padding: 6px 12px;
                    }

                    .country-btn:hover {
                        color: #311569;
                        background-color: white;
                    }
                }
            }

            .country:hover {
                margin-bottom: 20px;
                border: 1px solid #FFDFA2;
                box-shadow: 0 0 7px rgba(255,223,162,0.75);
            }
        }

        .bottom-text {

            .not-argument{
                margin: 20px 0;
            }
        }

        .early-benefits {
            margin: 30px 0;

            .separator {
                background-color: #FB3B3C;
                width: 50px;
                margin: 20px 5px;
                height: 2px;
            }

            .benefit {
                margin: 20px 0;
                font-family: 'OpenSans-Semibold', sans-serif;

                .early-benefit-header {
                    color: #118B91;
                }
            }
        }
    }
}



@media (min-width: 1100px) {
    .country {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 1100px) {
    .country {
        display: block;
    }
}

@media (min-width: 880px) {
    .country {

        .image-description {
            display: flex;

            .country-image {
                margin-right: 40px;

                .image {
                    width: 340px;
                }
            }
        }
    }
}

@media (max-width: 880px) {
    .country {
        width: 100%;
        margin: 0 0 20px 0;

        .image-description {
            display: block;

            .country-image {

                .image {
                    width: 100%;
                }
            }
        }
    }
}