.login-wrapper {
    padding-top: 100px;

    .logo {
        text-align: center;
        margin: 20px;

        img {
            width: 180px;
        }
    }

    .login {

        .login-fields {
            .input-group {
                width: 100%;

                .form-control {
                    width: 100%;
                }
            }
        }

        .actions {
            margin: 15px 0;
            text-align: center;

            button {
                width: 180px;
            }
        }
    }
}

@media (min-width: 600px) {
    .login-wrapper {
        margin: 0 auto;
        width: 340px;

        .login {
            .login-fields {
                width: 340px;
            }
        }
    }
}

@media (max-width: 600px) {
    .login-wrapper {
        margin: 0 20px; 
    }
}
