.tours-wrapper {
  margin: 0 20px; }
  .tours-wrapper .tour {
    margin-bottom: 20px;
    /*--mat select--*/ }
    .tours-wrapper .tour ::ng-deep mat-select .mat-select-trigger {
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.428571429;
      color: #555555;
      vertical-align: middle;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
      .tours-wrapper .tour ::ng-deep mat-select .mat-select-trigger span {
        line-height: 20px; }
    .tours-wrapper .tour .input-group {
      width: 100%; }
      .tours-wrapper .tour .input-group .form-control {
        width: 100%; }
    .tours-wrapper .tour .tour-descriptions {
      min-width: 200px; }
      .tours-wrapper .tour .tour-descriptions a.link-big i {
        font-size: 19px; }
    .tours-wrapper .tour .tour-prices {
      margin-top: 10px 0; }
      .tours-wrapper .tour .tour-prices .stars {
        margin-right: 5px; }
        .tours-wrapper .tour .tour-prices .stars .s {
          background-image: url(/content/images/star.svg);
          background-position: 14px 14px;
          width: 14px;
          height: 14px;
          display: inline-block; }
    .tours-wrapper .tour .tour-image {
      margin-top: 10px; }
      .tours-wrapper .tour .tour-image .small-images {
        display: inline-block;
        vertical-align: top; }
        .tours-wrapper .tour .tour-image .small-images a {
          position: relative;
          background-size: cover !important;
          background-repeat: no-repeat !important;
          background-position: center !important;
          padding-top: 50%;
          text-align: center;
          display: block;
          width: 200px;
          margin: 3px; }
          .tours-wrapper .tour .tour-image .small-images a .cross-close {
            position: absolute;
            right: 0;
            top: 0;
            padding: 0px 7px;
            cursor: pointer;
            color: white;
            background-color: rgba(0, 0, 0, 0.7);
            opacity: 0; }
        .tours-wrapper .tour .tour-image .small-images a:hover .cross-close {
          opacity: 1; }
      .tours-wrapper .tour .tour-image .upload-mage input {
        display: none; }
    .tours-wrapper .tour .content-fields .tour-description {
      height: 100px; }
    .tours-wrapper .tour .content-fields .tour-content {
      height: 150px; }

