.promotions-header {
    h2 {
        display: inline;
    }

    a.link-big {
        float: right;
        line-height: 33px;

        i {
            font-size: 19px;
        }
    }
}

.promotions-wrapper {
    margin: 0 20px;

    .promotion {
        margin-bottom: 20px;

        .image-description {

            .promotion-image {
                margin-top: 10px;
                margin-right: 40px;

                .image {
                    width: 340px;
                    background-size: cover !important;
                    background-repeat: no-repeat !important;
                    background-position: center !important;
                    padding-top: 50%;
                    text-align: center;
                    display: block;
                }
            }

            .promotion-descriptions {
                margin-top: 10px;
                min-width: 200px;
                max-width: 500px;

                a.link-big {

                    i {
                        font-size: 19px;
                    }
                }
            }
        }
    }
}


@media (min-width: 850px) {
    .promotion {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 850px) {
    .promotion {
        display: block;
    }
}

@media (min-width: 600px) {
    .promotion {

        .image-description {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (max-width: 600px) {
    .promotion {
        width: 340px;
        margin: 0 auto 20px auto;

        .image-description {
            display: block;
        }
    }
}
