<footer>
    <div class="footerLeft">
        <div class="footerLogo">
            <a href="">
                <div>
                    <i class="fa fa-code" aria-hidden="true"></i>
                    <span>Центр туризма</span>
                </div>
            </a>
        </div>
        <div class="footerContact">
            <div class="phone">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>+375 (44) 444-44-44</span>
            </div>
            <div class="email">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>mail@gmail.com</span>
            </div>
            <div class="skype">
                <i class="fa fa-skype" aria-hidden="true"></i>
                <span>skype</span>
            </div>
        </div>
    </div>
    <div class="footerRight">
        <ul class="footerMenu">
            <li>
                <a>Туры</a>
            </li>
            <li>
                <a>Услуги</a>
            </li>
            <li>
                <a>Акции</a>
            </li>
            <li>
                <a>О Компании</a>
            </li>
        </ul>
    </div>
</footer>