<footer>
    <div class="footerLogo">
        <a href="">
            <div>
                <i class="fa fa-code" aria-hidden="true"></i>
                <span>Центр туризма</span>
            </div>
        </a>
    </div>
    <div class="footerRight">
        <ul class="footerMenu">
            <li [routerLink]="[ '/administration/tours' ]">
                <a>
                    <i class="fa fa-plane" aria-hidden="true"></i>
                    <span>Туры</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    <span>Заказы</span>
                </a>
            </li>
            <li>
                <a [routerLink]="[ '/administration/countries' ]">
                    <i class="fa fa-plane" aria-hidden="true"></i>
                    <span>Страны</span>
                </a>
            </li>
            <li>
                <a [routerLink]="[ '/administration/promotions' ]">
                    <i class="fa fa-percent" aria-hidden="true"></i>
                    <span>Акции</span>
                </a>
            </li>
            <li>
                <a href="/account/Register">
                    <i class="fa fa-registered" aria-hidden="true"></i>
                    <span>Регистрация</span>
                </a>
            </li>
        </ul>
    </div>
</footer>